<p id="notice"><%= notice %></p>

<h1 class="text-center">管理メニュー</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>shop登録</th>
      <th>人物登録</th>
      <th>メイン画面</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
      <tr>
        <td><%= link_to "shop", "shops",:class => "btn btn-success" %></td>
        <td><%= link_to "people", "people",:class => "btn btn-success" %></td>
        <td><%= link_to "webサイト表示へ", "/#/home",:class => "btn btn-success" %></td>
      </tr>
  </tbody>
</table>

<br>
