<p id="notice"><%= notice %></p>

<h1 class="center">詳細</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>名前</th>
      <th>詳細</th>
      <th>変更</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @period.name %></td>
        <td><%= link_to '変更', edit_period_path(@period) ,:class => "btn btn-success" %></td>
        <td><%= link_to '戻る', periods_path ,:class => "btn btn-primary" %></td>
      </tr>
      </tr>
  </tbody>
</table>
