<ion-modal-view class="big-modal modal-post">
    <!-- ヘッダー -->
    <ion-header-bar class="bar-dark">
      <div class="buttons" ng-click="closeModalPost(postForm)">
        <button class="button icon ion-close-round"></button>
      </div>
      <h1 class="title">
        <span ng-if="!isEditing">新規投稿</span>
        <span ng-if="isEditing">投稿編集</span>
      </h1>
      <div class="buttons" ng-click="doPost(postForm)">
        <button class="button">保存する</button>
      </div>
    </ion-header-bar>

    <form name="postForm">
      <ion-slide-box delegate-handle="modal-post">
        <!-- メイン投稿 -->
        <ion-slide>
          <ion-content has-bouncing="false">
            <div class="list">
              <div class="item">
                <div class="button-bar">
                  <a class="button" ng-repeat="category in categories" ng-model="category" ng-class="{active: category.checked}" ng-click="checkCategory(category.id)" ng-bind-html="category.name | rekishokuText"></a>
                </div>
              </div>

              <label class="item item-input-inset item-stacked-label-xs">
                <span class="input-label">タイトル</span>
                <input class="item-input-wrapper" type="text" ng-model="input.title">
              </label>

              <div class="item item-input item-thumbnail-right" href="#">
                <img class="uploaded-img" ng-class="{'eye-catch': input.isEyeCatch}" ng-if="srcUrl" ng-src="{{srcUrl}}" ng-click="setEyeCatch(-1)">
                <span class="input-label">メイン画像</span>
                <div class="file">
                  ファイルを選択
                  <input type="file" file-model="input.file">
                </div>
              </div>

              <label class="item item-input-inset item-stacked-label-xs">
                <span class="input-label">本文</span>
                <textarea class="item-input-wrapper" rows="8" ng-model="input.content"></textarea>
              </label>

              <label class="item item-input-inset item-stacked-label-xs">
                <span class="input-label">引用元名</span>
                <input class="item-input-wrapper" type="text" ng-model="input.quotationName">
              </label>

              <label class="item item-input-inset item-stacked-label-xs">
                <span class="input-label">引用元URL</span>
                <input class="item-input-wrapper" type="text" ng-model="input.quotationUrl">
              </label>

              <ion-checkbox ng-model="input.isMap"
                  ng-if="isFeature(targetCategorySlug)">
                マップ表示
              </ion-checkbox>

            </div>
          </ion-content>
        </ion-slide>

        <ion-slide ng-repeat="detail in input.details">
          <ion-content has-bouncing="false">
            <div class="list">
              <label class="item item-input-inset item-stacked-label-xs">
                <span class="input-label">サブタイトル{{detail.index}}</span>
                <input class="item-input-wrapper" type="text" ng-model="detail.subTitle">
              </label>

              <div class="item item-input item-thumbnail-right" href="#"
                  ng-if="!isFeature(targetCategorySlug)">
                <img class="uploaded-img" ng-class="{'eye-catch': detail.isEyeCatch}" ng-if="detail.srcSubUrl" ng-src="{{detail.srcSubUrl}}" ng-click="setEyeCatch($index)">
                <span class="input-label">サブ画像{{detail.index}}</span>
                <div class="file">
                  ファイルを選択
                  <input type="file" file-model="detail.subFile">
                </div>
              </div>

              <label class="item item-input-inset item-stacked-label-xs">
                <span class="input-label">サブ本文{{detail.index}}</span>
                <textarea class="item-input-wrapper" rows="8" ng-model="detail.subContent"></textarea>
              </label>

              <label class="item item-input-inset item-stacked-label-xs"
                  ng-if="!isFeature(targetCategorySlug)">
                <span class="input-label">引用元名</span>
                <input class="item-input-wrapper" type="text" ng-model="detail.subQuotationName">
              </label>

              <label class="item item-input-inset item-stacked-label-xs"
                  ng-if="!isFeature(targetCategorySlug)">
                <span class="input-label">引用元URL</span>
                <input class="item-input-wrapper" type="text" ng-model="detail.subQuotationUrl">
              </label>

              <label class="item item-input item-select"
                  ng-if="isFeature(targetCategorySlug)">
                <div class="input-label">
                  関連データタイプ
                </div>
                <select ng-model="detail.relatedType" ng-change="detail.relatedId = null">
                  <option selected value="">なし</option>
                  <option value="Shop">SHOP</option>
                  <option value="Post">POST</option>
                  <option value="ExternalLink">LINK</option>
                </select>
              </label>

              <a class="item" ng-class="{'item-icon-right': !detail.relatedId}" ng-if="detail.relatedType" ng-click="openListModal(detail.relatedType, $index)">
                関連{{detail.relatedType.toUpperCase()}}
                <span ng-if="detail.relatedId" class="item-note">ID{{detail.relatedId}}</span>
                <i ng-if="!detail.relatedId" class="icon ion-plus-circled"></i>
              </a>


            </div>
          </ion-content>
        </ion-slide>

      </ion-slide-box>
    </form>
    <!-- フッター -->
    <ion-footer-bar align-title="left" class="bar-stable">
      <button class="button icon-left ion-chevron-left" ng-click="backSlide()" ng-show="isShowBackSlide">戻る</button>
      <h1 class="title"></h1>
      <button class="button icon-right ion-chevron-right" ng-click="prevSlide()" ng-show="isShowAddPostDetail">追加項目</button>
    </ion-footer-bar>

</ion-modal-view>
