<ion-modal-view class="thin-modal modal-login">
  <ion-header-bar>
    <div class="buttons">
      <button class="button icon button-clear" ng-click="hideModalLogin()">
        <i class="icon ion-ios-close-empty"></i>
      </button>
      <h1 class="title">LOGIN</h1>
    </div>
  </ion-header-bar>

  <ion-content>
    <div class="card">
      <div class="item item-divider">
        SNSアカウントでログイン
      </div>

      <div class="item">
        <div class="padding">
          <button class="button button-block facebook" ng-click="fbLogin()">
            <i class="icon ion-social-facebook"></i>
            Facebook ID
          </button>          
        </div>
      </div>
    </div>

    <div class="card">
      <form ng-submit="doLogin()">
        <div class="item item-divider">
          歴食IDでログイン(ライター用)
        </div>
        <label class="item item-input">
          <span class="input-label">ID</span>
          <input type="text" ng-model="input.email" autocomplete="on">
        </label>
        <label class="item item-input">
          <span class="input-label">パスワード</span>
          <input type="password" ng-model="input.password">
        </label>
        <div class="item">
          <div class="padding">
            <button class="button button-block btn-main">Login</button>
          </div>
        </div>
      </form>

    </div>


  </ion-content>
</ion-modal-view>
