<ion-popover-view class="popover-favorites" ng-style="{'height': popoverHeight}">
  <ion-header-bar ng-hide="hideFavoriteHeader">
    <div class="buttons" ng-show="favorites && favorites.length > 1">
      <button class="button button-clear button-dark icon ion-ios-trash-outline" ng-click="showEdit()"></button>
    </div>
    <h1 class="title">LIST</h1>
    <div class="buttons">
      <button class="button button-clear button-dark icon ion-ios-plus-empty" ng-click="showAddAlert()"></button>
    </div>
  </ion-header-bar>
  <ion-content ng-class="{'show': !isEdit}">
    <ion-list show-delete="isEdit">
      <ion-item ng-click="selectFolder($index);" ng-repeat="favorite in favorites">
        {{favorite.name}}
        <ion-delete-button class="ion-minus-circled"
                          ng-click="showDeleteAlert($index)">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-popover-view>
