@media screen and (max-width:480px){
  html { font-size: 10px!important; }
  #fullpage h4{font-size: 2.2rem;}
  #fullpage h5{font-size: 1.8rem;}
  #fullpage h6{font-size: 1.2rem;}
  #fullpage p{font-size: 1.2rem;}

  #header .logo img {
    height: 50px;
    left: 10px;
    top: 10px;
  }

  #section0 .layer {
      top: 36%;
      width: 100%;
      z-index: 4;
  }

  /* about section
  * --------------------------------------- */
  .about .detail {
    padding-bottom: 0px;
    text-align: left;
  }
  .about .detail .message {
    line-height: 1.5em!important;
  }

}

@media screen and (max-width:768px){
  /* top section
  * --------------------------------------- */
  .top {
    background-attachment: scroll!important;
  }
  /* main section
  * --------------------------------------- */
  .main .fp-tableCell,
  .team .fp-tableCell{
    vertical-align: initial;
    display: initial;
  }
  .main .title{
    padding: 60px 0;
  }
  .main .detail .container .row > div:first-child{
    padding: 30px 30px 0px;
  }
  .main .detail a {
    font-size: 1.8rem;
  }

  /* about section
  * --------------------------------------- */
  .about {
    background-image: none;
  }
  .about .row > div {
    padding: 20px 0px;
  }
  .about .detail .container .row .message {
    padding: 10px 0;
    font-size: 1.2rem!important;
  }
  .about .detail {
    padding-right: 15px;
    padding-left: 15px;
  }
  .about .detail .message .rekishoku {
    margin-top: -15px;
    width: 70px;
  }
  /* team section
  * --------------------------------------- */
  .team .title{
    padding: 60px 0 40px;
  }
  .team .fp-controlArrow {
    display: none;
  }
  .team .detail img {
    padding: 10px;
    height: 170px;
  }

  /* contact section
  * --------------------------------------- */
  .contact .title{
    padding: 60px 0 15px;
  }
  .contact {
    background-image: none;
  }
}

@media screen and (min-width:481px) and (max-width:800px){
  html { font-size: 12px!important; }
}
