<a class="item">
  <img class="main-img" src="../images/dummy-img.png">

  <img class="main-img subimage visible-lg" ng-src="{{data.image.image.lg.url}}" ng-if="target=='post'">
  <img class="main-img subimage visible-md visible-sm" ng-src="{{data.image.image.md.url}}" ng-if="target=='post'">
  <img class="main-img subimage visible-xs" ng-src="{{data.image.image.sm.url}}" ng-if="target=='post'">

  <!-- POST -->
  <div class="category" ng-if="target=='post'">
    <span ng-bind="category"></span>
  </div>
  <div class="detail" ng-if="target=='post'" ng-class="{'no-tag': periods.length == 0 && people.length == 0}">
    <div>
      <h2 ng-bind="data.title" class="mincho"></h2>
      <p class="description hidden-xs hidden-sm" ng-bind="data.content"></p>
    </div>
  </div>

  <!-- SHOP -->
  <img class="main-img subimage" ng-src="{{data.subimage.md.url}}" ng-if="target=='shop'">
  <div class="detail" ng-if="target=='shop'">
    <h2 ng-bind="data.name" class="mincho"></h2>
    <star count="rating"></star>
    <div class="hidden-xs" ng-hide="hideInfo">
      <p class="description">
        <span ng-bind="data.province"></span><span ng-bind="data.city"></span>
        <span ng-repeat="categorie in categories">
          <span>、</span><span ng-bind="categorie.name"></span>
        </span>
      </p>
      <p class="price">
        <span ng-bind="'SHOP.DAYTIME'|translate"></span><span class="daytime" ng-bind="price.daytime"></span>
        <span ng-bind="'SHOP.NIGHTTIME'|translate"></span><span class="nighttime" ng-bind="price.nighttime"></span>
      </p>
      <p class="rep-menu">
        <span ng-bind="'SHOP.MENU'|translate"></span>：<span ng-bind="data.menu | lfToPoint"></span>
      </p>
    </div>
  </div>

  <div class="tags">
    <div class="periods">
      <info-tag name="{{period.name}}" ng-repeat="period in periods"></info-tag>
    </div>
    <div class="people">
      <info-tag name="{{person.name}}" ng-repeat="person in people"></info-tag>
    </div>
  </div>
  <i class="arrow ion-chevron-right"></i>
</a>
