<li class="overlay-image">
  <div class="thumbnail-image">
    <img ng-src="{{post.image.md.url}}">
  </div>
  <div class="detail-content">
    <div>
      <div class="category-name">{{post.category_name}}</div>
      <div class="h4 detail-name">{{post.title}}</div>
      <div class="h6 item-description hidden-xs">{{post.content | limitTo:300}}</div>
      <div class="h6 post-date"><i class="icon ion-ios-clock-outline"></i>{{post.published_at | date:'yyyy/M/d'}}</div>
    </div>
  </div>
  <a class="link" ui-sref="tabs.shop-post({id:post.id})" nav-direction="forward" ng-if="nowTab=='shop'"></a>
  <a class="link" ui-sref="tabs.post({id:post.id})" nav-direction="forward" ng-if="nowTab=='post'"></a>
  <a class="link" ui-sref="tabs.map-post({id:post.id})" nav-direction="forward" ng-if="nowTab=='map'"></a>
  <a class="link" ui-sref="post({id:post.id})" nav-direction="forward" ng-if="nowTab=='other'"></a>
</li>
