<div class="row padding-bottom">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 no-padding">
    <div class="sns-icons">
      <a class="button facebook" ng-click ="postToFeed()"></a>
      <a class="button twitter" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url}}&hashtags=歴食&related=rekishoku"></a>
      <span class="button like">
        <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Frekishoku&width=71&layout=box_count&action=like&show_faces=true&share=false&height=65&appId=813296825366564"
          width="71" height="65" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </span>
    </div>
  </div>
</div>
