/**********************
 * Setting
 **********************/
$h1: 3.2rem;
$h2: 2.4rem;
$h3: 2.0rem;
$h4: 1.6rem;
$h5: 1.4rem;
$h6: 1.2rem;

$baseColor: #c95757;
$baseColorLite: #cd8c89;
$subColor: #00636F;
$grayColor: #878677;
$darkGrayColor: #3E3A39;

@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);
