/**********************
 * Setting
 **********************/
$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 16px;
$h5: 14px;
$h6: 12px;

$baseColor: #c95757;
$baseColorLite: #cd8c89;
$subColor: #00636F;
$grayColor: #878677;
$darkGrayColor: #3E3A39;
$blackColor: #3E3A39;
