@import "setting";

.account {
  .account-title{
    margin-bottom: 10px;

    button {
      line-height: $h3;
      color: $darkGrayColor;
      font-size: $h3;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      padding-right: 2.4rem;
      text-align: left;

      .icon{
        right: 0;
        position: absolute;

        &::before {
          line-height: $h3;
          font-size: $h3;
          color: $baseColor;
        }
      }
    }
  }

  .account-detail {
    >div {
      position: relative;

      favorite-button {
        position: absolute;
        left: 5px;
        bottom: 5px;
        z-index: 999;
      }
    }

    .dummy-img {
      @include css3(transition, all 0.2s ease-out);
    }

    .deleted {
      .dummy-img {
        width: 0;
      }

      favorite-button, .detail {
        opacity: 0;
      }
    }
  }
}