@import "setting";

/**********************
 * Common
 **********************/
html{ font-size: 62.5%; /*10px*/ }

body {
 font-family: 'Noto Sans Japanese', serif;
 font-weight: 200;
}

h1, .h1 { font-size: $h1; }
h2, .h2 { font-size: $h2; }
h3, .h3 { font-size: $h3; }
h4, .h4 { font-size: $h4; }
h5, .h5 { font-size: $h5; }
h6, .h6 { font-size: $h6; }
p {
  color: #000;
}
.mincho {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  &.b {
    font-weight: 600!important;
  }
}

.bg-gray {
  background-attachment: scroll;
  background-image: url("../images/bg-gray.png");
  background-position: left top;
  background-repeat: repeat;
  background-size: auto auto;
}

.bold {
  font-weight: 600;
}

.big-modal {
  top: 5%;
  bottom: 5%;
}

/* link */
a {
  color: $baseColor;
  &:hover {
    color: $baseColorLite;
    text-decoration: none;
  }
}

.logo {
  width: 210px;
  height: 140px;
  background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 0 (0 / contain);
  background-color: #fff;
  margin: 20px auto;
}

hr {
  margin-top: 5px!important;
  margin-bottom: 5px!important;
}

ion-content {
  background-color: #fff;
}

i {
  font-style: italic;
  font-family: serif;
  font-weight: 600;
  color: #444;
}

/**********************
 * Adjuster
 **********************/
.no-padding { padding: 0!important;}
.no-margin { margin: 0!important;}

.padding-top {
  padding-top: 30px !important;
}
.padding-bottom {
  padding-bottom: 30px !important;
}

/**********************
 * Header
 **********************/
.main-header {
  background-color: #fff!important;
  border: none;

  .button-back {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: transparent;
    box-shadow: none;
    color: #b2b2b2;
    font-size: 17px;
    font-weight: 400;
    left: 0;
    line-height: 32px;
    min-height: 31px;
    position: absolute;
    width: 70px;
    &.activated {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      box-shadow: none !important;
    }
  }

  .title {
    display: none;
  }

  .logo {
    width: 75px;
    z-index: 9999;
    height: 34px;
    background: rgba(0, 0, 0, 0) url("../images/logo-sm.png") no-repeat scroll 0 0 / contain ;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    margin-top: 5px;
  }
  i {
    color: #3E3A39;
  }
  .back-button {
    border: none;
    padding-right: 25px !important;
    padding-top: 2px !important;
    z-index: 999;
    background-color: #fff;

    i {
      font-size: 24px;
    }
  }
}

/**********************
 * Footer
 **********************/
.search-footer {
  // background-color: $darkGrayColor;
  background-color: transparent;
  background-image: none;
  height: 0;
  @include css3(transition, all 0.3s ease-out);

  .title { color: #fff; }
  .mode-btn {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    bottom: 20px;
    height: 60px;
    width: 60px;
    position: fixed;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: $subColor;
    border: none;
    color: #fff;
    @include css3(transition, all 0.2s ease-out);

    &.first-btn {
      left: 15px;
    }
    &.second-btn {
      left: 90px;
    }

    i {
      font-size: $h1;
      padding-bottom: 5px;
    }

    &.hide-btn {
      // bottom: -22px!important;
      bottom: -60px!important;
    }

    &.activated {
      background-color: $subColorLite;
    }

    span {
      line-height: 8px;
      font-size: $h7;
      position: absolute;
      bottom: 10px;
      text-align: center;
      width: 50px;
      left: 50%;
      margin-left: -25px;
    }

  }
  &.hide-footer {
    bottom: -44px;
    .mode-btn {
      bottom: 54px;
    }
  }
}

.tag-footer {
  background-color: $darkGrayColor;
  font-weight: 600;

  .title {
    color: $liteGrayColor;
    font-weight: 300;
  }

  .link-tag {
    min-height: 30px;
    line-height: 30px;

    &:before {
      line-height: 30px;
    }

  }
}

/**********************
 * Tab
 **********************/
ion-content.has-tabs-top {
  top: 88px;
  bottom: 0;
}
ion-content.no-tabs-top {
  top: 44px;
  bottom: 0;
}
.main-tab {
  .tabs {
    background-color: #fff !important;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    border: none;
    height: 44px;
    .tab-item {
      max-width: 100%;
      font-size: $h6;
      transition: all ease-in-out 250ms;
      &.tab-item-active, &.active {
        font-size: $h5;
        background-color: $baseColor !important;
        color: #fff!important;
      }
    }
  }
}
.sub-tab {
  height: auto;
  top: 0;
  bottom: 0;
}

.button-bar.tab-button {
  a {
    box-shadow: none;
    border: none;
    background-color: $liteGrayColor;

    &.active {
      background-color: $baseColor;
      color: #fff;
    }
  }
}

/**********************
 * Icon
 **********************/

.reki-icon {
  background-image: url("../images/reki.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  padding-left: 34px;
}

/**********************
 * Menu
 **********************/
ion-side-menu {
  .bar-header {
    border: none;

    button {
      position: absolute;
      top: 6px;
    }
  }

  .search-header {
    background-color: rgba(255, 255, 255, 0.95)!important;
    border-bottom: 1px solid #ddd;

    .item-icon-left {
      padding-left: 42px;

      button {
        top: 4px;
      }
    }
    input {
      background-color: transparent;
    }
  }
  .item-filter {
    padding-left: 30px;
  }
}

.menu-list {
  height: 100%;
  .slider {
    height: 100%;
  }
  .scroll-view {
    height: 100%;
    background-color: $darkGrayColor;
    overflow: visible;

    .scroll {
      padding-bottom: 110px;
    }
    &.login .scroll {
      padding-bottom: 164px;
    }
  }
  .list-slide {
    .scroll {
      padding-bottom: 44px;
    }
    .has-filter .scroll {
      padding-bottom: 88px;
    }
  }
  .item {
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $darkGrayColor;
    color: #fff;
    font-weight: 400;
  }
  .item-divider {
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: transparent;
  }
  .item-top {
    border-top: 1px solid #d3d3d3;
  }
  .item i {
    // color: $baseColor;
  }
  .item-divider {
    text-align: center;
    border: 1px solid #d3d3d3;
  }
}

ion-slide {
  &.list-slide {
    .spinner svg {
      width: 100%;
    }
  }
}

.slider-pager {
  display: none;
}

.menu-list {
  .menu-footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  }
  .sns-icons {
    padding-left: 17px;
    height: 75px;
    padding-bottom: 15px;
    background-color: #fff;

    a {
      background-color: $darkGrayColor;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      font-size: 24px;
      line-height: 50px;
      position: absolute;
      text-align: center;
      top: 13px;
      width: 50px;
    }
    i {
      color: #fff;
    }
    a {
      &:nth-child(1) {
        left: 15px
      }
      &:nth-child(2) {
        right: 84px;
      }
      &:nth-child(3) {
        right: 15px;
      }
    }
  }
}

/**********************
 * Toast
 **********************/

.toast-top-full-width {
  top: 10px;
}

.toast-bottom-full-width {
  bottom: 10px;
}

#toast-container > div {
  padding: 30px 15px 30px 50px;
  font-size: 20px;
}

/**********************
 * Popup
 **********************/

.popup-container .popup {
  border-radius: 10px;
  padding: 10px;
  width: 270px;
}

/**********************
 * Modal
 **********************/

ion-modal-view .bar-header {
  background-color: transparent !important;
}

.scale-in {
  transform: scale(0.9);
  opacity: 0;
  &.ng-enter, > .ng-enter {
    transition: all cubic-bezier(0.1, 0.7, 0.1, 1) 400ms;
  }
  &.ng-enter-active, > .ng-enter-active {
    transform: scale(1);
    opacity: 1;
  }
  &.ng-leave, > .ng-leave {
    transition: all ease-in-out 250ms;
  }
}

.modal-post, .modal-profile-edit {
  form, .slider {
    height: 100%;
  }

  .item-input-wrapper {
      background: #eee none repeat scroll 0 0;
      border: none;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      padding-left: 8px;
      padding-right: 8px;
      width: 100%;
  }

  input[readonly].item-input-wrapper {
    background-color: transparent !important;
    color: #808080;
  }

}

/**********************
 * Input
 **********************/
.item-input-inset {
  background-image: none!important;

  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
  }
}
.item-input-wrapper {
  border: 2px solid $darkGrayColor;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  background: #fff;

  i {
    color: $darkGrayColor;
    font-size: 20px;;
  }
}

/**********************
 * Advertisement
 **********************/
.ad-main {
  text-align: center;
}

/**********************
 * Search
 **********************/
.search-condition-bar {
  padding-top: 5px;
  padding-bottom: 5px;

  .search-condition {
    padding-right: 30px;
    height: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    color: #000;

    > div {
      height: 36px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
      color: #000;
    }
    span {
      background-color: $grayColor;
      color: #fff;
      line-height: 36px;
      padding: 5px 10px;
      border-radius: 20px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 3px;
      font-size: $h6;
    }
    .clear-button {
      &.button {
        border-radius: 14px;
        -moz-border-radius: 14px;
        -webkit-border-radius: 14px;
        font-size: 14px;
        min-height: 28px;
        min-width: 28px;
        height: 28px;
        top: 4px;
        padding: 0 0 0 1px;
        border: none;
        color: $grayColor !important;
        margin-left: 15px;
      }
      &span {
        background-color: transparent;
        color: #b2b2b2;
        padding: 0;
      }
    }
    .button i::before {
      line-height: 28px;
      font-size: 18px;
    }
  }
}

/**********************
 * ionic&bootstrapの競合対策
 **********************/

.modal-backdrop {
  background-color: transparent;
}

.modal-open .modal {
  overflow-y: hidden;
}

label {
  max-width: initial;
}

ion-view {
  .row {
    margin-left: initial;
    margin-right: initial;
    display: block;
    > div {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

ion-modal-view {
  z-index: 11 !important;
}
