@import "setting";

// MD以上
@media screen and (min-width:768px){
  html{ font-size: 87.5%; /*14px*/ }

  /**********************
   * Tab
   **********************/
   ion-content.has-tabs-top {
     top: 0;
   }
   .main-tab {
     .tabs {
       display: none;
     }
   }

   /**********************
    * Menu
    **********************/
   .menu-list {
     .scroll-view {
       background-color: transparent;
       .item i { color: $baseColor; }
     }
     .item {
       background-color: transparent;
       color: #000;

       &.active {
         background-color: $baseColor;
         color: #fff;
       }
     }
   }

}
