@import "setting";

// SM以下
@media screen and (max-width:767px){
  ion-side-menu {
    .bar-header {
      border: none;
      &.search-bar {
        display: flex!important;
      }
    }
  }
}

// SM以上
@media screen and (min-width:768px){
  html{ font-size: 87.5%; /*14px*/ }

  /**********************
   * Header
   **********************/
  .main-header {
    background-color: transparent!important;
    width: 100px;

    .back-button {
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      opacity: 0.8;
      padding-top: 7px!important;
      padding-left: 18px!important;
      height: 60px;
      width: 60px;
      top: 30px;
      left: 30px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;

      i {
        font-size: 34px;
      }
    }
  }
  /**********************
   * Footer
   **********************/
  .search-footer {
    .mode-btn {
      left: 30px;

      &.second-btn {
        left: 105px;
      }

      &.hide-btn {
        bottom: -75px!important;
      }
    }
  }

  /**********************
   * Tab
   **********************/
   ion-content.magazine, ion-content.shops, ion-content.features, ion-content.no-tabs-top {
     top: 0;
   }
   .main-tab {
     .tabs {
       display: none;
     }
   }

   /**********************
    * Menu
    **********************/
   .menu-list {
     .scroll-view {
       background-color: transparent;
       .item i { color: $baseColor; }
     }
     .item {
       background-color: rgba(255, 255, 255, 0.9);
       color: #000;

       &.active {
         background-color: $baseColor;
         color: #fff;
       }
     }
   }

   ion-side-menu {
     z-index: 100 !important;
     box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2), 1px 0 2px rgba(0, 0, 0, 0.2);
     padding-top: 165px;
     width: 215px!important;

     .bar-header {
       background-color: transparent;
     }
   }

   .menu-content {
     -webkit-transform: translate3d(215px, 0px, 0px) !important;
     transform: translate3d(215px, 0px, 0px) !important;
     width: calc(100% - 215px) !important;
   }


   /**********************
    * Button
   **********************/
   .mode-btn {
     position:absolute;
     bottom: 30px;
     height: 75px;
     width: 75px;

     span {
       padding-bottom: 5px;
     }
   }

   /**********************
    * Search
    **********************/
   .search-condition-bar {
     padding: 15px;

     .search-condition {
       span {
         padding: 5px 20px;
       }
     }
   }

}

// LG以上
@media screen and (min-width:1200px){
  ion-view {
    background-attachment: scroll;
    background-image: url("../images/bg-paper.png");
    background-position: left top;
    background-repeat: repeat;
    background-size: auto auto;

    ion-content {
      width:100%!important;
      max-width: 1135px;
      margin: 0 auto;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
  }
}
