@import "setting";

// SM以上
@media screen and (min-width:768px){
  /**********************
   * Common
   **********************/
   .detail {
     &.has-header  {
       top: 0;
     }
     
     .top-image {
       img {
         margin-top: -5%;
         margin-bottom: -5%;
       }
     }

     .image-quotation {
      &.has-mode-btn {
        padding: 2px 125px 2px 5px;
      }

      .mode-btn {
        right: 30px;
      }
     }

     .detail-map {
       .angular-google-map-container, .angular-google-map {
         height: 350px;
       }
     }
   }

   /**********************
    * Post
    **********************/
   .detail.post, .detail.feature {
     .description {
       padding-top: 25px;
     }
   }

}

// MD以上
@media screen and (min-width:992px){
  /**********************
   * Store
   **********************/
  .detail.store {
    .information {
      .other {
        .rating-details {
          padding: 10px 0;

          star {
            width: 33.3%;
          }
        }
      }
    }
  }
}

// LG以上
@media screen and (min-width:1200px){
  /**********************
   * Common
   **********************/
   .detail {
     .top-image {
       img {
         margin-top: -10%;
         margin-bottom: -10%;
       }
     }
   }

}
