@import "setting";

/**********************
 * Common
 **********************/
.detail {
  .top-image, .detail-image {
      text-align: center;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
      }
  }
  .image-quotation {
    text-align: right;
    color: $grayColor;
    font-size: $h6;
    padding: 2px 5px;

    a, a:hover {
      color: $grayColor;
    }
  }

  .information {
    padding: 20px 0 5px;

    h1, h2, h3, h4 {
      color: $darkGrayColor;
      font-weight: 300;
      letter-spacing: 1px;
    }

    >div {
      display: table;
    }

    .name {
      height: 67px;
      min-height: 67px;

      h4 {
        color: $subColor;
        font-weight: 300;
        margin: 0 0 3px 0;
      }
      h1 {
        color: $darkGrayColor;
        margin-top: 0;
      }
    }

    .tags {
      height: 23px;
      min-height: 23px;
    }
  }

  .description {
    p {
      letter-spacing: 1px;
    }
  }

  .number {
    color: $subColor;
    font-weight: 300;
  }

  .detail-title {
    .number {
      margin-bottom: 0;
    }
    .title {
      margin-top: 0;
    }
  }
  .no-title {
    margin-top: -30px;
  }

  .detail-map {
    padding-top: 10px;
    padding-bottom: 10px;

    .angular-google-map-container, .angular-google-map {
      height: 250px;
    }
  }

  // 関連記事、店舗
  list-item-post, list-item-shop {
    a.item {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      margin-bottom: 5px;
    }
  }
}

/**********************
 * Post
 **********************/
.detail.post {
  .information {
    .date {
      float: right;
      position: absolute;
      top: 18px;
      right: 5px;
      p {
        color: $grayColor;
        font-size: $h6;
      }
    }

    .writer {
      padding: 5px 0;

      p {
        color: $grayColor;
        font-size: $h6;
      }
    }

  }
}

/**********************
 * Store
 **********************/
.detail.store {
  .information {
    .tel { margin: 20px 0; }

    star {
      i { font-size: 44px; }
      div.star-count {
        font-size: 36px;
        span {
          padding-bottom: 5px;
        }
      }
    }

    .other {
      margin: 10px 0;
      .price { padding-right: 8px; }
    }

  }

  .sub-info {
    >div {
      padding: 10px 0;
      font-size: $h3;
      line-height: $h3;
      font-weight: 300;
    }

    .info-title {
      margin-bottom: 5px;
      span { color: $subColor; }
    }

    a {
      color: $darkGrayColor;
      &.web-url {
        white-space: nowrap;
      }
    }

    i {
      color: $baseColor;
    }

    .url {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .menu-list {
    padding-top: 20px!important;
  }

}

/**********************
 * Store
 **********************/
.detail.feature {
  .no-headline {
    margin-top: -25px!important;
  }
}
