@import "setting";

/**********************
 * Common
 **********************/
 .detail {
   .top-image {
      text-align: center;

      img {
        max-height: 600px;
        max-width: 100%;
        width: auto;
      }
    }
    .image-quotation {
      text-align: right;
      color: $grayColor;
      font-size: $h6;
      padding: 2px 5px;

      a, a:hover {
        color: $grayColor;
      }
    }

    .information {
      padding: 20px 0 5px;

      h1, h2, h3, h4 {
        color: $blackColor;
        font-weight: 300;
      }

      >div {
        display: table;
      }

      .name {
        h4 {
          color: $subColor;
          font-weight: 300;
          margin: 0;
        }
        h1 {
          color: $darkGrayColor;
          margin-top: 0;
        }
      }

    }

 }

// SNS icons
.sns-icons {
  width: 100%;

  .button {
    position: relative;
    display: block;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;
    border: none;
    margin: 1%;
    padding: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    &:after {
      position: initial;
      padding-top: 100%;
      display: block;
      content: "";
    }

    &.facebook {
      background-color: #233B7D;
      //  background-color: #305097;
      background-image: url("../images/sns-fb.png");
      width: 31%;
    }

    &.twitter {
      background-color: #1772AE;
      //  background-color: #00aced;
      background-image: url("../images/sns-tw.png");
      width: 31%;
    }

    &.like {
      background-color: $grayColor;
      width: 32%;

      &:after {
        padding-top: 97%;
      }

      >iframe {
        left: 50%;
        margin-left: -34px;
        margin-top: -30px;
        position: absolute;
        top: 50%;
      }
    }

    &.active, &.activated {
      opacity: 0.7;
    }

  }
}

/**********************
 * Store
 **********************/
.detail.store {
  .information {
    .tel { margin: 20px 0; }

    star {
      i { font-size: 44px; }
      div.star-count {
        font-size: 36px;
        span {
          padding-bottom: 5px;
        }
      }
    }

    .other {
      margin: 10px 0;
      .price { padding-right: 8px; }
    }

  }

  .sub-info {
    >div {
      padding: 10px 0;
      font-size: $h3;
      font-weight: 300;
    }

    .info-title {
      margin-bottom: 5px;
      span { color: $subColor; }
    }

    a {
      color: $blackColor;
      white-space: nowrap;
    }

    i {
      color: $baseColor;
    }

    .url {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .menu-list {
    padding-top: 20px!important;
  }

}
