@import "setting";

// SM以上
@media screen and (min-width:768px){
  /**********************
   * star
   **********************/
  star {
    .small-star {
      padding-left: 20px;

      .star-label {
        width: 110px;
      }

      i {
        font-size: $h3!important;
      }

      .count {
        height: 28px;
      }

    }
  }

  /**********************
   * info-tag
   **********************/
   info-tag {
     .tag {
       min-width: 100px;
       max-width: 180px;

       >div {
         padding: 3px 5px;
       }
     }
   }

  /**********************
   * list-item-post, list-item-shop
   **********************/
   list-item-post, list-item-shop {
     .item {
       .main-img {
         width: 60%;
         margin-left: -5%;
       }
       .category {
         width: 150px;
         padding-bottom: 7px;
         padding-top: 5px;
       }
       .detail {
         padding: 5% 62px 90px 15px;
         left: 45%;
         width: 55%;

         h2 {
           font-size: $h3;
           line-height: $h3;
         }

         >div {
           overflow: hidden;
           height: 100%;
         }

         &.no-tag {
           padding: 5% 62px 6.5% 15px;
         }
       }

       i.arrow {
         font-size: 44px;
         margin-top: -14px;
         right: 20px;
       }

       .tags {
         height: 58px;
         margin-bottom: 15px;
         padding-left: 14px;
         left: 45%;
         width: 55%;

         .periods, .people {
           height: 30px;
           overflow: hidden;
         }
       }
     }
   }

   list-item-post {
     .item {
       .detail {
         >div {
           h2 {
             max-height: 84px;
             letter-spacing: 2px;
           }

           .description {
             margin-top: 15px;
             letter-spacing: 1px;
           }
         }
       }
     }
   }

   list-item-shop {
     .item {
       .detail {
         >div {
           padding-left: 15px;

           .description {
             color: #000;
             margin-top: 5px;
           }
           .price {
             margin-top: 3px;
           }
           .rep-menu {
             color: #000;
             margin-top: 3px;
           }
         }
       }
     }
   }
}

// MD以上
@media screen and (min-width:992px){
  /**********************
   * list-item-post, list-item-shop
   **********************/
  list-item-post, list-item-shop {
    .item {
      .main-img {
        margin-left: 0;
        width: 45%;
        margin-top: -2%;
        margin-bottom: -2%;
      }
      .detail {
        padding: 2% 62px 90px 15px;

        &.no-tag {
          padding: 2% 62px 5.5% 15px;
        }
        >div {
          h2{
            max-height: 56px;
          }
        }

      }
    }
  }
}

// LG以上
@media screen and (min-width:1200px){
  /**********************
   * list-item-post, list-item-shop
   **********************/
  list-item-post, list-item-shop {
    .item {
      .main-img {
        margin-top: -3.5%;
        margin-bottom: -3.5%;
      }

      .detail {
        >div {
          .description {
            margin-top: 10px;
          }
        }
      }

    }
  }
}
