@import "setting";

/**********************
 * star
 **********************/
star {
  display: table;
  vertical-align: middle;

  div {
    display: table-cell;

    &.star-label {
      padding-top: 7px;
      padding-right: 10px;
      color: $darkGrayColor;
      vertical-align: middle;
    }

    i {
      color: $baseColor;
      font-size: $h2;
    }

    &.star-count {
      font-size: $h4;
      padding-left: 5px;
      color: $grayColor;
      vertical-align: middle;
    }
  }
}

/**********************
 * info-tag
 **********************/
 info-tag {
   .tag {
     float: left;
     width: 73px;
     font-size: $h6;
     text-align: center;
     padding-right: 5px;
     padding-bottom: 3px;

     >div {
       color: #fff;
       background-color: $grayColor;
       white-space: nowrap;
     }
   }
 }

/**********************
 * list-item-post, list-item-shop
 **********************/
 list-item-post, list-item-shop {
   .item {
     padding: 0;
     position: relative;

     &.activated {
       .detail {
         background-color: #d9d9d9;
       }

       .main-img {
         opacity: 0.8;
       }
     }

     .main-img {
       width: 60%;
       margin-left: -5%;
       height: auto;
       vertical-align: top;

       &.subimage {
         position: absolute;
         left: 0;
         top: 0;
       }
     }

     .detail {
       width: 50%;
       position: absolute;
       top: 0;
       left: 50%;
       padding: 5% 30px 10px 10px;
       background-color: #fff;
       height: 100%;
     }

     i.arrow {
       font-size: 18px;
       height: 18px;
       margin-top: -14px;
       position: absolute;
       right: 10px;
       top: 50%;
       color: $baseColor;
     }

     .tags {
       position: absolute;
       bottom: 0;
       left: 50%;
       height: 48px;
       padding-left: 10px;
       width: 50%;
       margin-bottom: 3px;
       overflow: hidden;

       .periods, .people {
         height: 25px;
       }
     }
   }
 }
