/* postItem */
.post-shops, .post-shops > div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.item-detail-list li {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  letter-spacing: normal;
  line-height: 1.25;
  border: 1px solid #dcdcdc;
  margin-top: -1px;
  background-color: #fff;
}
.item-detail-list li .thumbnail-image {
  height: 100px;
  width: 133px;
  padding-top: 0;
}
.item-detail-list .thumbnail-image img {
  height: auto;
  margin-left: 0;
  width: 100%;
}
.item-detail-list li .detail-content {
  height: 100px;
  padding-left: 133px;
}
.item-detail-list li .detail-content > div {
  background: transparent;
  position: relative;
}
.item-detail-list .detail-name,
.item-detail-list .post-date,
.item-detail-list .item-username {
  color: #555;
}
.item-detail-list .category-name, .item-detail-list .item-address {
  bottom: 5px!important;
}
.item-detail-list .category-name {
    right: 0px;
}
.detail-content .post-date {
  left: 10px;
  bottom: 5px;
}
.detail-content .post-date i{
  padding-right: 3px;
}
.item-detail-list .overlay-image .link {
  border-radius: 0;
}
.item-detail-list .main-category .button-bar .button {
    font-size: 14px;
    text-overflow: initial;
}
.item-detail-list .category-name.shop-category{
  bottom: 15px;
  float: right;
  right: 65px;
}
.detail-name {
  padding: 10px 10px 0;
  max-height: 50px;
  overflow: hidden;
}
.item-detail-list .item-address {
  background-color: rgba(131, 81, 112, 1);
  bottom: 15px;
  color: #ffffff;
  font-size: 12px;
  right: 0px;
  line-height: 16px;
  max-height: 21px;
  overflow: hidden;
  padding: 3px 8px;
  position: absolute;
  text-align: center;
  width: 60px;
  z-index: 100;
}
