@import "setting";

/**********************
 * star
 **********************/
star {
  display: table;
  vertical-align: middle;

  div {
    display: table-cell;

    &.star-label {
      padding-top: 7px;
      padding-right: 10px;
      color: $darkGrayColor;
      vertical-align: middle;
    }

    i {
      color: $baseColor;
      font-size: $h2;
    }

    &.star-count {
      font-size: $h4;
      padding-left: 5px;
      color: $grayColor;
      vertical-align: middle;
    }
  }
}

/**********************
 * info-tag
 **********************/
 info-tag {
   .tag {
     float: left;
     min-width: 72px;
     max-width: 125px;
     font-size: $h6;
     text-align: center;
     padding-right: 5px;
     padding-bottom: 3px;

     >div {
       color: #fff;
       background-color: $grayColor;
       white-space: nowrap;
     }
   }
 }

/**********************
 * list-item-post, list-item-shop
 **********************/
 list-item-post, list-item-shop {
   .item {
     padding: 0;
     position: relative;

     &.activated {
       .detail {
         background-color: #d9d9d9;
       }

       .main-img {
         opacity: 0.8;
       }
     }

     .main-img {
       width: 60%;
       margin-left: -5%;
       height: auto;
       vertical-align: top;

       &.subimage {
         position: absolute;
         left: 0;
         top: 0;
       }
     }

     .category {
       position: absolute;
       top: 0;
       left: 0;
       background-color: $subColor;
       color: #fff;
       width: 75px;
       padding-bottom: 1px;
       font-size: $h5;
       text-align: center;
       font-weight: 300;
     }

     .detail {
       width: 50%;
       position: absolute;
       top: 0;
       left: 50%;
       padding: 5% 22px 10px 10px;
       background-color: #fff;
       height: 100%;

       .description {
         margin-top: 15px;
         padding-right: 40px;
         overflow: hidden;
         white-space: normal;
         color: #000;
       }
       h2 {
         font-size: $h3;
         max-height: 60px;
         line-height: $h3;
         overflow: hidden;
         white-space: normal;
       }
     }

     i.arrow {
       font-size: 18px;
       height: 18px;
       margin-top: -14px;
       position: absolute;
       right: 10px;
       top: 50%;
       color: $baseColor;
     }

     .tags {
       position: absolute;
       bottom: 0;
       left: 50%;
       height: 46px;
       padding-left: 10px;
       width: 50%;
       margin-bottom: 5px;
       overflow: hidden;

       .periods, .people {
         height: 25px;
       }
     }
   }
 }

/**********************
 * sns-icons
 **********************/
sns-icons {
  .sns-icons {
    width: 100%;

    .button {
      position: relative;
      display: block;
      float: left;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      color: #fff;
      border: none;
      margin: 1%;
      padding: 0;
      border-radius: 3px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;

      &:after {
        position: initial;
        padding-top: 100%;
        display: block;
        content: "";
      }

      &.facebook {
        background-color: #233B7D;
        //  background-color: #305097;
        background-image: url("../images/sns-fb.png");
        width: 31%;
      }

      &.twitter {
        background-color: #1772AE;
        //  background-color: #00aced;
        background-image: url("../images/sns-tw.png");
        width: 31%;
      }

      &.like {
        background-color: $grayColor;
        width: 32%;

        &:after {
          padding-top: 97%;
        }

        >iframe {
          left: 50%;
          margin-left: -34px;
          margin-top: -30px;
          position: absolute;
          top: 50%;
        }
      }

      &.active, &.activated {
        opacity: 0.7;
      }

    }
  }
}
