@import "setting";

// SM以上
@media screen and (min-width:768px){
  /**********************
   * info-tag
   **********************/
   info-tag {
     .tag {
       min-width: 100px;
       max-width: 180px;

       >div {
         padding: 3px 5px;
       }
     }
   }
  /**********************
   * list-item-post, list-item-shop
   **********************/
   list-item-post, list-item-shop {
     .item {
       .main-img {
         width: 60%;
         margin-left: -5%;
       }
       .category {
         width: 150px;
         padding-bottom: 7px;
         padding-top: 5px;
       }
       .detail {
         padding: 5% 62px 90px 15px;
         left: 45%;
         width: 55%;
         >div {
           overflow: hidden;
           height: 100%;

           h2 {
             max-height: 84px;
             letter-spacing: 2px;
           }

           .description {
             margin-top: 10px;
             letter-spacing: 1px;
           }
         }
       }

       i.arrow {
         font-size: 44px;
         margin-top: -14px;
         right: 20px;
       }

       .tags {
         height: 58px;
         margin-bottom: 15px;
         padding-left: 14px;
         left: 45%;
         width: 55%;

         .periods, .people {
           height: 32px;
         }
       }
     }
   }
}

// MD以上
@media screen and (min-width:992px){
  /**********************
   * list-item-post, list-item-shop
   **********************/
  list-item-post, list-item-shop {
    .item {
      .main-img {
        margin-left: 0;
        width: 45%;
        margin-top: -3%;
        margin-bottom: -3%;
      }
      .detail {
        padding: 4% 62px 90px 15px;
        >div {
          h2{
            max-height: 56px;
          }
        }
      }
    }
  }
}
