@import "setting";

// SM以上
@media screen and (min-width:768px){
  .magazine {
    .top-area {
      display: table;

      .left-box {
        width: 66.7%;
        display: table-cell;
        vertical-align: top;
      }
      .right-box {
        width: 33.3%;
        display: table-cell;
        vertical-align: top;
      }

      .feature {
        .main-img {
          height: auto;
        }

        .description {
          padding: 15px;
          height: 120px;
          bottom: 57px;

          h2 {
            letter-spacing: 2px;
          }
          p {
            height: 44px;
            letter-spacing: 1px;
          }
        }

        .tags {
          height: 57px;
          padding: 15px;
        }
      }

    }
  }
}

// MD以上
@media screen and (min-width:992px){
  .magazine {

  }
}

// LG以上
@media screen and (min-width:1200px){
  .magazine {
    .top-area {
      .feature, .post, .shop {
        .main-img {
          margin-left: auto;
          width: 100%;
        }
      }
    }

  }
}
