@import "setting";

.magazine {
  .top-area {
    // 特集横記事
    .post, .shop, .feature {
      padding: 0;
      position: relative;


      .main-img {
        width: 130%;
        margin-left: -15%;
        height: auto;
        margin-bottom: -3px;
      }

      .category {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $subColor;
        color: #fff;
        width: 75px;
        padding-bottom: 1px;
        font-size: $h5;
        text-align: center;
        font-weight: 300;
      }

      .description {
        position: absolute;
        bottom: 57px;
        padding: 15px 15px 0;
        max-height: 127px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        overflow: hidden;

        &.no-tag {
          bottom: 0;
        }
        h4 {
          font-size: $h4;
          color: #fff;
          margin: 0;
          white-space: normal;
          max-height: 52px;
          letter-spacing: 2px;
        }
      }

      .tags {
        position: absolute;
        bottom: 0;
        padding: 15px;
        width: 100%;
        height: 57px;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.4);

        >div {
          overflow: hidden;
          height: 26px;
        }
      }
    }

    // 特集
    .feature {
      .description {
        bottom: 33px;
        padding: 5px;

        h2 {
          font-size: $h2;
          color: #fff;
          margin: 0;
          white-space: normal;
          max-height: 60px;
        }
        p {
          color: #fff;
          font-size: $h6;
          height: 40px;
          overflow: hidden;
          white-space: normal;
        }
      }

      .tags {
        padding: 5px;
        height: 33px;
      }

    }

    .shop {
      .description h4{
        height: 27px;
      }
      star {
        div{
          color: #fff;
        }
      }
    }

  }
}
