@import "setting";

// SM以上
@media screen and (min-width:768px){
  .magazine {
    .top-area {
      display: table;

      .left-box {
        width: 66.7%;
        display: table-cell;
        vertical-align: top;
      }
      .right-box {
        width: 33.3%;
        display: table-cell;
        vertical-align: top;
      }

      .post, .shop, .feature {
        .main-img {
          height: auto;
        }

        .category {
          width: 150px;
        }

        .description {
          padding: 15px;
          bottom: 42px;

          h2 {
            letter-spacing: 2px;
          }
          p {
            height: 60px;
            letter-spacing: 1px;
          }

        }

        .tags {
          height: 42px;
          padding: 0 15px 15px;
        }
      }

      // 特集
      .feature {
        .description {
          max-height: 172px;

          h2 {
            max-height: 82px;
          }
        }
      }

    }
  }
}

// MD以上
@media screen and (min-width:992px){
  .magazine {

  }
}

// LG以上
@media screen and (min-width:1200px){
  .magazine {
    .top-area {
      .feature, .post, .shop {
        .main-img {
          margin-left: auto;
          width: 100%;
        }
      }
    }

  }
}
