/**********************
 * Setting
 **********************/
$h1: 32px;
$h2: 24px;
$h3: 20px;
$h4: 16px;
$h5: 14px;
$h6: 12px;

$baseColor: #c95757;
$baseColorLite: #cd8c89;
$subColor: #00636F;
$grayColor: #878677;
$blackColor: #3E3A39;


.magazine {
  background-color: #fff;

  .test {
    height: 100%;
  }

  .abbbbbb {
    height: 100%;
  }
}

.main {
  .item {
    padding: 0;
    position: relative;

    .main-img {
      width: 50%;
      height: auto;
      vertical-align: top;

      &.subimage {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .detail {
      width: 50%;
      position: absolute;
      top: 0;
      left: 50%;
      padding: 5% 30px 10px 10px;
    }

    i.arrow {
      font-size: 18px;
      height: 18px;
      margin-top: -14px;
      position: absolute;
      right: 10px;
      top: 50%;
      color: $baseColor;
    }

    .tags {
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 48px;
      padding-left: 10px;
      width: 50%;
      margin-bottom: 3px;
      overflow: hidden;

      .periods, .people {
        height: 25px;

        .tag {
          float: left;
          width: 73px;
          font-size: $h6;
          text-align: center;
          padding-right: 5px;
          padding-bottom: 3px;

          >div {
            color: #fff;
            background-color: $grayColor;
          }
        }
      }
    }
  }
}
