/**********************
 * Main page
 **********************/
.item-list li, .item-list-sm li {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    letter-spacing: normal;
    line-height: 1.25;
}
.item-list, .item-list-sm {
  letter-spacing: -.4em;
  margin: 0;
}
.thumbnail-image {
  display: block;
  overflow: hidden;
  padding-top: 100%;
  position: relative;
}
.thumbnail-image img {
  height: 100%;
  margin-left: -17.5%;
  position: absolute;
  top: 0;
  width: auto;
}
.thumbnail-image .post-count {
   position: absolute;
   z-index: 100;
   top: 10px;
   left: 10px;
   color: #fff;
   font-weight: 900;
   font-size: 18px;
}
.thumbnail-image .post-count i {
   padding-right: 3px;
}

.sysCartButton {
    display: block;
    width: 100%;
    background: #666;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
}
.main{
  width:100%;
  margin-top: 0;
}
.item-name {
  padding: 10px 10px 0;
  height: 50px;
  overflow: hidden;
}
.item-content {
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 65px 10px 45px;
  position: absolute;
  top: 0;
  white-space: normal;
}
.item-content > div{
  height: 100%;
  overflow: hidden;
}
.item-description {
  color: #555!important;
  padding: 10px 10px 0;
  max-height: 81px;
  overflow: hidden;
}
.item-list .category-name{
  right: 10px;
  bottom: 15px;
}
.main-content .post-date, .detail-content .post-date {
  position: absolute;
  left: 20px;
  bottom: 15px;
  padding: 0;
  font-weight: 200;
}
.main-content .post-date i, .detail-content .post-date i {
  padding-right: 3px;
}
.item-list .main-content, .item-list-sm .main-content {
  position: relative;
}
.overlay-image {
  position: relative;
  line-height: 100%;
}
.overlay-image .link {
  /*background: #000 url("../images/link.png") no-repeat scroll center center;*/
  background-color: #000;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  z-index: 100;
}
.overlay-image .link:active, .overlay-image .link.activated {
  opacity: 0.1;
  transition-property: opacity;
  transition-timing-function:ease-in-out;
}
.main-category {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-category .search-condition {
  /*padding-right: 34px;*/
  padding-right: 115px;
}
.main-category .search-condition,
.main-category .search-condition > div {
  height: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 18px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  position: relative;
}
.main-category .search-condition span {
  background-color: #ddd;
  line-height: 36px;
  padding: 9px 16px;
  border-radius: 17px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.main-category .search-condition .clear-button .button {
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  font-size: 14px;
  min-height: 28px;
  min-width: 28px;
  height: 28px;
  top: 4px;
  padding: 0 0 0 1px;
  border: none;
}
.main-category .search-condition .clear-button {
  top: 4px;
  position: absolute;
  right: 0;
  top: 0;
}
.main-category .search-condition .clear-button span {
  background-color: transparent;
  color: #b2b2b2;
  padding: 0;
}
.main-category .search-condition .button i::before  {
  line-height: 28px;
  font-size: 18px;
}

/**********************
 * Post list
 **********************/
.item-table .post-title{
  min-width: 110px;
}
.item-table .post-content{
  max-width: 300px;
}
.item-table .post-category{
  min-width: 120px;
}
.item-table .delete-button{
  min-width: 60px;
}
.item-table .post-status{
  min-width: 40px;
  padding: 3px;
}
.item-table .post-status > div {
  text-align: center;
  border: 1px solid #b2b2b2;
  margin: 2px;
  border-radius: 11px;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  width: 40px;
  color: #d3d3d3;
}
.item-table .post-status > div.active {
  border: none;
  color: #fff;
  background-color: rgb(205, 97, 93);
}

/**********************
 * Post detail
 **********************/
.detail-image {
   text-align: center;
   padding-top: 5px;
   padding-bottom: 5px;
 }
 .detail-image img {
   max-height: 500px;
   max-width: 100%;
   width: auto;
 }
.post-title{
  padding: 5px;
  min-height: 80px;
}
.post-title .sub {
  border-bottom: 5px solid rgb(205, 97, 93);
  margin-right: -5px;
}
.post-title a {
  float: right;
  margin-bottom: 5px;
  margin-top: 5px;
}
.post-title .username {
  display: table;
  padding-bottom: 5px;
}
.post-title .username img {
  width: 34px;
  height: auto;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  display: table-cell;
  padding-right: 5px;
}
.post-title .username p {
  display: table-cell;
  vertical-align: middle;
  color: #aaa;
}
.post-title .category {
  background-color: rgba(76, 42, 76, 1);
  color: #ffffff;
  max-width: 125px;
  min-width: 100px;
  padding: 2px 8px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  left: 5px;
}
.post-title .date, .post-quotation {
  text-align: right;
  color: #808080;
  margin-bottom: 5px;
}
.post-content{
  padding: 5px;
  margin-bottom: 15px;
}
form.post-modal, .post-modal .slider {
  height: 100%;
}
.shop-list {
  display:table;
}
.shop-list > div{
  display:table-cell;
  vertical-align: top;
}
.shop-list .shop-list-image {
  width: 250px;
  height: auto;
  padding-right: 10px;
}
.shop-list .shop-list-image img {
  width: 100%;
  height: auto;
}
/* 関連データ */
.post-shops, .post-shops > div {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.item-detail-list li {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  letter-spacing: normal;
  line-height: 1.25;
  border: 1px solid #dcdcdc;
  margin-top: -1px;
  background-color: #fff;
}
.item-detail-list li .thumbnail-image {
  height: 100px;
  width: 133px;
  padding-top: 0;
}
.item-detail-list .thumbnail-image img {
  height: auto;
  margin-left: 0;
  width: 100%;
}
.item-detail-list li .detail-content {
  height: 100px;
  padding-left: 133px;
}
.item-detail-list li .detail-content > div {
  background: transparent;
  position: relative;
}
.item-detail-list .detail-name,
.item-detail-list .post-date,
.item-detail-list .item-username {
  color: #555;
}
.item-detail-list .category-name, .item-detail-list .item-address {
  bottom: 5px!important;
}
.item-detail-list .category-name {
    right: 0px;
}
.detail-content .post-date {
  left: 10px;
  bottom: 5px;
}
.detail-content .post-date i{
  padding-right: 3px;
}
.item-detail-list .overlay-image .link {
  border-radius: 0;
}
.item-detail-list .main-category .button-bar .button {
    font-size: 14px;
    text-overflow: initial;
}
.item-detail-list .category-name.shop-category{
  bottom: 15px;
  float: right;
  right: 65px;
}
.detail-name {
  padding: 10px 10px 0;
  max-height: 50px;
  overflow: hidden;
}
.item-detail-list .item-address {
  background-color: rgba(131, 81, 112, 1);
  bottom: 15px;
  color: #ffffff;
  font-size: 12px;
  right: 0px;
  line-height: 16px;
  max-height: 21px;
  overflow: hidden;
  padding: 3px 8px;
  position: absolute;
  text-align: center;
  width: 60px;
  z-index: 100;
}
/**********************
 * Shops
 **********************/
.item-list .item-address {
  background-color: rgba(131, 81, 112, 1);
  bottom: 15px;
  color: #ffffff;
  font-size: 12px;
  right: 10px;
  line-height: 16px;
  max-height: 21px;
  overflow: hidden;
  padding: 3px 8px;
  position: absolute;
  text-align: center;
  width: 60px;
  z-index: 100;
}
.item-list .shop-content .category-name{
  bottom: 15px;
  float: right;
  right: 75px;
}
.item-list .shop-content .category-name .small{
  padding-left: 3px;
}


/**********************
 * Main & Shops common
 **********************/
.item-list li {
  position: relative;
}

.item-list .shop-content, .item-list .main-content, .item-detail-list .detail-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 5px 5px;
  width: 100%;
  height: 90px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.item-list .shop-content.on-mouse,
.item-list .main-content.on-mouse,
.item-detail-list .detail-content.on-mouse{
  height: 100%;
  padding-top: 5px;
}
.item-list .shop-content.on-mouse .item-name,
.item-list .main-content.on-mouse .item-name,
.item-detail-list .detail-content.on-mouse .item-name{
  height: auto;
}

.shop-content > div, .main-content > div, .detail-content > div {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 5px 0px 30px;
}
.shop-content div, .main-content div, .detail-content div {
  margin: 0;
  color: #fff;
}
.item-list .category-name, .item-detail-list .category-name{
  font-size: 12px;
  position: absolute;
  z-index: 100;
  background-color: rgba(76, 42, 76, 10);
  color: #ffffff;
  padding: 3px 8px;
  text-align: center;
  max-width: 125px;
  min-width: 100px;
  white-space: nowrap;
}

/**********************
 * Shop detail
 **********************/
.shop-info {
  padding-top: 15px;
  padding-bottom: 15px;
}
.shop-info-item {
  display: table;
}
.shop-info-row > div {
  display: table-cell;
}
.shop-info-row .shop-info-col {
  width: 60px;
}
.detail-map {
  padding-top: 10px;
  padding-bottom: 10px;
}
.detail-map .angular-google-map-container,
.detail-map .angular-google-map{
  height: 200px;
}

/**********************
 * Map page
 **********************/
.search-bar {
  padding: 0 0 0 260px;
}
.search-bar label{
  max-width: 500px;
  width: 60%;
  height: 33px;
}
.search-bar input{
  width: 100%;
}

.search-bar .button{
  max-width: 200px;
  min-width: 100px;
  width: 20%;
}
.maps {
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  margin-top: -1px;
  overflow: hidden;
  padding-top: 1px;
  position: absolute;
  right: 0;
  width: auto;
}
.maps .angular-google-map-container,
.maps .angular-google-map,
.maps .scroll,
.maps .map-include { height: 100%; }

.gm-style-iw > div {
  height: 115px;
}
.gmap-windows p {
  font-size: 12px;
  width: 71px;
  max-height: 44px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-right: -4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}
.gmap-windows img {
  position: absolute;
  left: 0;
}
.gmap-windows img {
  width: 90px!important;
  height: auto;
}
.present-location {
  position: absolute;
  color: rgb(205, 97, 93)!important;
  left: 5px;
  top: 6px;
  font-size: 16px!important;
  z-index: 20;
}
.present-location::before {
  font-size: 18px!important;
  margin-right: 2px;
}
/**********************
 * Writers page
 **********************/
.item-list .writer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 5px 5px;
  width: 100%;
  height: 56px;
}
.writer-content > div {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 5px;
}
.writer-content div {
  color: #fff;
  margin: 0;
}
.item-username {
  padding: 10px 10px 0;
  height: 36px;
  overflow: hidden;
}
.item-username {
  padding: 10px 10px 0;
  height: 36px;
  overflow: hidden;
}
.item-profile {
  height: 44px;
  overflow: hidden;
  visibility: hidden;
}

/**********************
 * Writer detail page
 **********************/
.thumbnail-writer-image {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.thumbnail-writer-image img {
  border-radius: 50%;
  padding: 15px;
}
.profile {
  max-height: 300px;
}
.profile p {
  color: #808080;
}

/**********************
 * Search Modal
 **********************/
.search-modal .search-button {
  max-width: 300px;
  margin: auto;
}
