/**********************
 * Map page
 **********************/
.search-bar {
  padding: 0 0 0 95px;
}
.search-bar label{
  max-width: 500px;
  width: 60%;
  height: 33px;
}
.search-bar input{
  width: 100%;
}

.search-bar .button{
  max-width: 200px;
  min-width: 100px;
  width: 20%;
}
.maps {
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  margin-top: -1px;
  overflow: hidden;
  padding-top: 1px;
  position: absolute;
  right: 0;
  width: auto;
}
.maps .angular-google-map-container,
.maps .angular-google-map,
.maps .scroll,
.maps .map-include { height: 100%; }

.gm-style-iw > div {
  height: 115px;
}
.gmap-windows p {
  font-size: 12px;
  width: 71px;
  max-height: 44px;
  overflow: hidden;
  margin-bottom: 5px;
  margin-right: -4px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
}
.gmap-windows img {
  position: absolute;
  left: 0;
}
.gmap-windows img {
  width: 90px!important;
  height: auto;
}
.present-location {
  position: absolute;
  color: rgb(205, 97, 93)!important;
  left: 5px;
  top: 6px;
  font-size: 16px!important;
  z-index: 20;
}
.present-location::before {
  font-size: 18px!important;
  margin-right: 2px;
}
/* serach bar */
.map-view .main-category.bar-subheader {
  padding: 5px 20px;
}
/**********************
 * Writers page
 **********************/
.item-list .writer-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 5px 5px;
  width: 100%;
  height: 56px;
}
.writer-content > div {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 5px;
}
.writer-content div {
  color: #fff;
  margin: 0;
}
.item-username {
  padding: 10px 10px 0;
  height: 36px;
  overflow: hidden;
}
.item-username {
  padding: 10px 10px 0;
  height: 36px;
  overflow: hidden;
}
.item-profile {
  height: 44px;
  overflow: hidden;
  visibility: hidden;
}

/**********************
 * Writer detail page
 **********************/
.thumbnail-writer-image {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}
.thumbnail-writer-image img {
  border-radius: 50%;
  padding: 15px;
}
.profile {
  max-height: 300px;
}
.profile p {
  color: #808080;
}

/**********************
 * Search Modal
 **********************/
 .search-modal .scroll {
   height: 100%;
 }
 .search-modal .search-button-content {
   bottom: 10px;
   position: absolute;
   width: 100%;
 }
.search-modal .search-button {
  max-width: 340px;
  margin: auto;
}
