/**********************
 * Responsive Design
 **********************/
@media screen and (max-width:480px){
  html{ font-size: 0.75rem;}
.main,.aside{width: 100%;float: none;}
  .aside{
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .fix-nav,
  /* Header */
  .header{z-index:100;}
  .header .sns-icons{
    left: 5px;
    right: 100%;
    width: 96px;
  }
  .header .sns-icons a {
    width: 32px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: transparent;
  }
  .header .sns-icons a:nth-child(1) {right: 66px;}
  .header .sns-icons a:nth-child(2) {right: 33px;}
  .header .sns-icons a:nth-child(3) {right: 0px;}
  [nav-bar-transition="ios"] .title, [nav-bar-transition="ios"] .buttons, [nav-bar-transition="ios"] .back-text {
    display: none;
  }
  .nav-bar-block .button-back {
    background-color: #fff;
    height: 46px;
    padding-left: 10px !important;
    text-align: left;
    width: 100px;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
  }

  .aside.active{display: block;}
  /* Main */
  .item-list li {
    width: 100%;
    padding: 0;
    border: 1px solid #dcdcdc;
    margin-top: -1px;
    overflow: hidden;
  }
  .item-list li .thumbnail-image {
    height: 100px;
    width: 150px;
    padding-top: 0;
  }
  .thumbnail-image img {
    height: auto;
    margin-left: 0;
    width: 100%;
    margin-top: -6px;
  }
  .item-list li .main-content,
  .item-list li .shop-content,
  .item-list li .writer-content {
    height: 100px;
    padding-left: 150px;
    padding-top: 0!important;
  }
  .item-list li .main-content > div,
  .item-list li .shop-content > div,
  .item-list li .writer-content > div {
    background: transparent;
    position: relative;
  }
  .item-list .item-name,
  .item-list .post-date,
  .item-list .item-username {
    color: #555;
  }
  .item-list .category-name, .item-list .item-address {
    bottom: 5px!important;
  }
  .main-content .post-date {
    left: 10px;
    bottom: 5px;
  }
  .main-content .category-name {
    right: 0px!important;
  }
  .main-content .post-date i{
    padding-right: 3px;
  }
  .overlay-image .link {
    border-radius: 0;
  }
  .main-category .button-bar .button {
      font-size: 14px;
      text-overflow: initial;
  }
  /* Shop */
  .item-list .item-address {
    right: 0px;
  }
  .item-list .shop-content .category-name{
    right: 65px;
  }
  .thumbnail-image .post-count {
    left: 5px;
    top: 5px;
  }
  /* Writer */
  .item-list .item-profile {
    color: #808080;
    padding-left: 10px;
    visibility: visible;
  }

  /* Map */
  ion-view div.maps {
    padding-bottom: 45px;
  }
  .gmap-windows img {
    width: 70px;
  }
  .gmap-windows h5 {
    font-size: 12px;
    width: 70px;
  }
}
/* iPhone5用 */
@media screen and (max-width:320px){
  .post-date .icon {
    display: none;
  }

  .item-list li .thumbnail-image {
    width: 133px;
  }
  .thumbnail-image img {
    margin-top: 0;
  }
  .item-list li .main-content,
  .item-list li .shop-content,
  .item-list li .writer-content {
    padding-left: 133px;
  }

}
@media screen and (min-width:481px) and (max-width:768px){
  .item-list li{ width: 33.333%; }
  .grid-menu a{
    width: 50%;
  }
}

/* bootstrap xs */
@media screen and (max-width:768px){
  .top { width: 100%; }
  .logo {
    width: 89px;
    height: 50px;
    background: rgba(0, 0, 0, 0) url("../images/logo-sm.png") no-repeat scroll 0 0 / contain ;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -48px;
  }
  /* modal */
  .big-modal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%
  }
  /* form */
  .item-stacked-label-xs {
    background-color: transparent;
    box-shadow: none;
    display: block;
  }
  .item-stacked-label-xs .input-label, .item-stacked-label-xs .icon {
    display: inline-block;
    padding: 4px 0 0;
    vertical-align: middle;
  }
  /* header */
  .bar-header { background-color: transparent;}
  .fix-nav i { color: #000; }
  .header .bar.top { background-color: transparent; }
  .button-back {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: transparent;
    box-shadow: none;
    color: #b2b2b2;
    font-size: 17px !important;
    font-weight: 400 !important;
    left: 0;
    line-height: 32px !important;
    min-height: 31px !important;
    opacity: 1 !important;
    position: absolute;
    top: -3px;
    width: 70px;
  }
  .button-back.activated {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none!important;
  }

  /* tab */
  .has-tabs.pane {
    bottom: 0px;
  }
  .tabs {
    height: 44px;
    line-height: 44px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top: auto!important;
    bottom: 0;
  }
  .tab-item .icon {
    font-size: 30px!important;
    height: 29px!important;
  }
  .down .tabs, .hide-tab .tabs {
    bottom: -44px;
  }

  /* Main */
  .main-category .search-condition {
    padding-right: 34px;
  }
  .main-category .search-condition .clear-button span {
    display: none;
  }

  /* detail page */
  .item-description {
    max-height: 30px;
    padding: 3px 10px 0;
  }
  .post-title .category {
    position: relative;
    margin-left: auto;
    margin-bottom: 5px;
  }
  .post-title .username {
    position: absolute;
  }

  /* Map検索*/
  .search-bar {
    padding-left: 35px;
  }
  .present-location > span {
    display: none;
  }
  .present-location::before {
    font-size: 28px!important;
  }

  /**********************
   * Search Modal
   **********************/
  .search-modal .search-button-content {
    bottom: 10px;
    position: absolute;
    width: 100%;
  }
  .search-modal .search-button {
    max-width: none;
    width: 100%;
  }

}
@media screen and (min-width:768px) and (max-width:1200px){
  .item-list li{ width: 25%; }
}
@media screen and (min-width:768px){
  .item-list-sm li{ width: 12.5%; }
  .top .title { right: auto!important; }
  .tab-header{ width: 20%;}
  ion-content.image-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* tab */
  .tab-nav.tabs {
    background-position: center bottom;
    border-bottom-width: 1px;
    border-top-width: 0;
    padding-top: 0;
    top: 0px;
  }
  .tabs .tab-item{
    font-size: 18px!important;
    line-height: 44px!important;
  }
  .tabs .tab-item .icon::before {
    font-size: 24px;
    line-height: 44px;
  }
  .tabs .tab-item .icon {
    padding-right: 3px;
  }
  .tabs .tab-item .icon {
    display: inline-block;
    margin-top: -0.1em;
    vertical-align: top;
  }

  /* post image */
  .post-image{
    padding: 0 90px;
  }
  /* header*/
  .bar-header.my-post-header {
    background-color: rgb(205,97,93);
    height: 49px;
  }
  .header {
    width: 180px;
  }
  /* modal */
  .modal-open .modal {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  /* Main*/
  .main-category .button-bar,
  .main-category .search-condition{
    padding-left: 180px;
    max-width: 800px;
  }
  .main-category .button-bar .button{
    border-radius: 10px!important;
    border: 1px solid rgb(76,42,76);
    margin-right: 15px;
    line-height: 34px;
    min-height: 34px;
  }

  .present-location {
    left: 180px;
  }
  /* detail page */
  .item-detail-list li .thumbnail-image {
    height: 180px;
    width: 240px;
  }
  .item-detail-list li .detail-content {
    height: 180px;
    padding-left: 240px;
  }
}
@media screen and (min-width:1201px){
  .item-list li{ width: 20%; }
}
