/**********************
 * Responsive Design
 **********************/
@media screen and (max-width:480px){
}
@media screen and (min-width:481px) and (max-width:768px){
  .item-list li{ width: 33.333%; }
  .grid-menu a{
    width: 50%;
  }
}

/* bootstrap xs */
@media screen and (max-width:768px){
  .top { width: 100%; }
  /* modal */
  .big-modal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%
  }
  /* form */
  .item-stacked-label-xs {
    background-color: transparent;
    box-shadow: none;
    display: block;
  }
  .item-stacked-label-xs .input-label, .item-stacked-label-xs .icon {
    display: inline-block;
    padding: 4px 0 0;
    vertical-align: middle;
  }
  /* header */
  .bar-header { background-color: transparent;}
  .fix-nav i { color: #000; }
  .header .bar.top { background-color: transparent; border-bottom: 1px solid #ddd!important;}
  .button-back {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: transparent;
    box-shadow: none;
    color: #b2b2b2;
    font-size: 17px !important;
    font-weight: 400 !important;
    left: 0;
    line-height: 32px !important;
    min-height: 31px !important;
    opacity: 1 !important;
    position: absolute;
    width: 70px;
  }
  .button-back.activated {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    box-shadow: none!important;
  }

  /* tab */
  .has-tabs.pane {
    bottom: 0px;
  }
  .tab-item .icon {
    font-size: 30px!important;
    height: 29px!important;
  }
  .down .tabs, .hide-tab .tabs {
    bottom: -44px;
  }

  /* Main */
  .main-category .search-condition {
    padding-right: 34px;
  }
  .main-category .search-condition .clear-button span {
    display: none;
  }

  /* detail page */
  .item-description {
    max-height: 30px;
    padding: 3px 10px 0;
  }
  .post-title .category {
    position: relative;
    margin-left: auto;
    margin-bottom: 5px;
  }
  .post-title .username {
    position: absolute;
  }

  /* Map検索*/
  .search-bar {
    padding-left: 35px;
  }
  .present-location > span {
    display: none;
  }
  .present-location::before {
    font-size: 28px!important;
  }

  /**********************
   * Search Modal
   **********************/
  .search-modal .search-button-content {
    bottom: 10px;
    position: absolute;
    width: 100%;
  }
  .search-modal .search-button {
    max-width: none;
    width: 100%;
  }

}
@media screen and (min-width:768px) and (max-width:1200px){
  .item-list li{ width: 33.333%; }
}
@media screen and (min-width:768px){
  .item-list-sm li{ width: 12.5%; }
  .top .title { right: auto!important; }
  .tab-header{ width: 20%;}
  ion-content.image-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* tab */
  /*.tab-nav.tabs {
    background-position: center bottom;
    border-bottom-width: 1px;
    border-top-width: 0;
    padding-top: 0;
    top: 0px;
  }
  .tab-nav.tabs a {
    display: none;
  }
  .tabs .tab-item{
    font-size: 18px!important;
    line-height: 44px!important;
  }
  .tabs .tab-item .icon::before {
    font-size: 24px;
    line-height: 44px;
  }
  .tabs .tab-item .icon {
    padding-right: 3px;
  }
  .tabs .tab-item .icon {
    display: inline-block;
    margin-top: -0.1em;
    vertical-align: top;
  }*/

  /* menu */
  .menu-content {
    -webkit-transform: translate3d(215px, 0px, 0px) !important;
    transform: translate3d(215px, 0px, 0px) !important;
    width: calc(100% - 215px) !important;
  }

  .nav-bar-container .fix-nav .ion-navicon-round {
    display: none!important;
  }
  ion-side-menu {
    z-index: 100 !important;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2), 1px 0 2px rgba(0, 0, 0, 0.2);
    left: 0;
    padding-top: 165px;
    width: 215px!important;
  }
  ion-side-menu .bar-header {
    background-color: transparent!important;
  }

  /* post image */
  .post-image{
    padding: 0 90px;
  }
  /* modal */
  .modal-open .modal {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  /* Main*/
  .main-category .button-bar,
  .main-category .search-condition{
    max-width: 800px;
  }
  .main-category .button-bar .button{
    border-radius: 10px!important;
    border: 1px solid rgb(76,42,76);
    margin-right: 15px;
    line-height: 34px;
    min-height: 34px;
  }

  .present-location {
    left: 10px;
  }
  /* detail page */
  .item-detail-list li .thumbnail-image {
    height: 210px;
    width: 280px;
  }
  .item-detail-list li .detail-content {
    height: 210px;
    padding-left: 280px;
  }
}
@media screen and (min-width:1201px){
  .item-list li{ width: 25%; }
}
