/**********************
 * Responsive Design
 **********************/
@media screen and (min-width:481px) and (max-width:768px){
  .item-list li{ width: 33.333%; }
  .grid-menu a{
    width: 50%;
  }
}

/* bootstrap xs */
@media screen and (max-width:768px){
  .top { width: 100%; }
  /* header */
  .bar-header { background-color: transparent;}
  .fix-nav i { color: #000; }
  .header .bar.top { background-color: transparent; border-bottom: 1px solid #ddd!important;}

  /* tab */
  .has-tabs.pane {
    bottom: 0px;
  }
  .tab-item .icon {
    font-size: 30px!important;
    height: 29px!important;
  }
  .down .tabs, .hide-tab .tabs {
    bottom: -44px;
  }

  /* Main */
  .main-category .search-condition {
    padding-right: 34px;
  }
  .main-category .search-condition .clear-button span {
    display: none;
  }

  /* Map検索*/
  .search-bar {
    padding-left: 35px;
  }
  .present-location > span {
    display: none;
  }
  .present-location::before {
    font-size: 28px!important;
  }

  /**********************
   * Search Modal
   **********************/
  .search-modal .search-button-content {
    bottom: 10px;
    position: absolute;
    width: 100%;
  }
  .search-modal .search-button {
    max-width: none;
    width: 100%;
  }

}
@media screen and (min-width:768px) and (max-width:1200px){
  .item-list li{ width: 33.333%; }
}
@media screen and (min-width:768px){
  .item-list-sm li{ width: 12.5%; }
  .top .title { right: auto!important; }
  .tab-header{ width: 20%;}
  ion-content.image-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* menu */
  .menu-content {
    -webkit-transform: translate3d(215px, 0px, 0px) !important;
    transform: translate3d(215px, 0px, 0px) !important;
    width: calc(100% - 215px) !important;
  }

  .nav-bar-container .fix-nav .ion-navicon-round {
    display: none!important;
  }
  ion-side-menu {
    z-index: 100 !important;
    box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2), 1px 0 2px rgba(0, 0, 0, 0.2);
    left: 0;
    padding-top: 165px;
    width: 215px!important;
  }
  ion-side-menu .bar-header {
    background-color: transparent!important;
  }

  /* post image */
  .post-image{
    padding: 0 90px;
  }
  /* modal */
  .modal-open .modal {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
}
@media screen and (min-width:1201px){
  .item-list li{ width: 25%; }
}
