@import "setting";

/**********************
 * Post list
 **********************/
.item-table {
  .post-title {
    min-width: 110px;
  }
  .post-content {
    max-width: 300px;
  }
  .post-category {
    min-width: 120px;
  }
  .delete-button {
    min-width: 60px;
  }
  .post-status {
    min-width: 40px;
    padding: 3px;
    .status {
      text-align: center;
      border: 2px solid #cd615d;
      margin: 2px;
      border-radius: 11px;
      -moz-border-radius: 11px;
      -webkit-border-radius: 11px;
      color: #cd615d;
    }
    .published {
      height: 25px;
      line-height: 25px;
      font-size: 12px;
      width: 80px;
    }
    input.published {
      background-color: #eee;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      padding: 0 8px;
    }
    div.published {
      color: #b2b2b2;
      font-siz: 12px;
      text-align: center;
    }
    > div.active {
      border: none;
      color: #fff;
      background-color: rgb(205, 97, 93);
    }
  }
}

/**********************
 * modal-post
 **********************/

.uploaded-img {
  top: 0;
  bottom: 0;
  margin: auto;
  height: auto !important;
  width: auto !important;
  &.eye-catch {
    border: 3px red solid;
  }
}

.slider-pager {
  z-index: 10;
  width: 50%;
  margin-left: 25%;
}

.item-table tr {
  height: 44px;
}

.button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  &.ion-checkmark-round.checkbox {
    border: 1px solid #ddd;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #f8f8f8;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: none !important;
    width: 40px;
    height: 40px;
    min-height: 40px;
    min-width: 40px;
    &.activated {
      border: 1px solid #ddd;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      background-color: #f8f8f8;
      color: #fff;
      margin-left: 5px;
      margin-right: 5px;
      box-shadow: none !important;
      width: 40px;
      height: 40px;
      min-height: 40px;
      min-width: 40px;
    }
    &::before {
      font-size: 19px;
      line-height: 37px;
    }
    &.active {
      background-color: #007bbb;
      border: 1px solid #007bbb;
      box-shadow: none !important;
      color: #fff;
    }
  }
}

.vertical-align {
  vertical-align: middle !important;
}

/* input */
.item-input-wrapper {
  padding-left: 8px !important;
  padding-right: 8px !important;
  width: 100%;
}

input[readonly].item-input-wrapper {
  background-color: transparent !important;
  color: #808080;
}

.file {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: .5em;
  border: 1px solid #999;
  background-color: #eee;
  input[type="file"] {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    font-size: 100px;
    cursor: pointer;
  }
}

.bar-header {
  border-bottom: none !important;
}

.list-title {
  height: 49px;
  margin-top: 40px !important;
  h2 {
    margin: 0;
    padding: 0;
  }
}
