@import "setting";

.writers-view {
  .overlay-image {
    position: relative;
    line-height: 100%;

    .thumbnail-image {
      width: 100px;
      height: 100px;

      img {
       border-radius: 50%;
       -moz-border-radius: 50%;
       -webkit-border-radius: 50%;
       padding: 10px;
       margin-left: 10px;
       width: 100%;
     }
    }

    .link {
      background-color: #000;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 100;

      &:active, &.activated {
        opacity: 0.1;
        transition-property: opacity;
        transition-timing-function: ease-in-out;
      }
    }
  }

  .writer-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0px 5px 5px 110px;
    width: 100%;
    height: 100px;

    > div {
      height: 100%;
      padding: 5px;
      position: relative;
      overflow: hidden;
    }
  }

  .item-username {
    font-size: $h5;
    line-height: $h5;
    overflow: hidden;
  }

  .item-profile {
    margin-top: 5px;
    font-size: $h6;
    line-height: $h6;
    height: 60px;
    overflow: hidden;
    color: $grayColor;
  }

}
