<ion-view title="" ng-init="init()" class="account-view">

  <ion-content class="account no-tabs-top" ng-class="{'padding-top': windowType!='xs'}" delegate-handle="accountScroll" overflow-scroll="true">
    <div class="row">
      <div class="account-title col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <button class="button button-clear" ng-click="openFolderList()">
          お気に入り
          <i class="icon ion-arrow-down-b"></i>
        </button>
      </div>
    </div>

    <!-- FAVORITES -->
    <div class="row padding-bottom" ng-if="favorites && favorites.length!=0">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 no-padding">
        <!-- Items -->
        <list-item-post
            ng-repeat="favorite in favorites"
            data="favorite.post"
            periods="favorite.periods"
            people="favorite.people"
            category="favorite.post.category_name"
            window-type="windowType" >
          </list-item-post>
      </div>
    </div>



 </ion-content>
</ion-view>
