<ion-view title="MAGAZINE">
  <ion-content class="magazine" ng-init="init()" on-drag-up="onDragUpScroll()" on-drag-down="onDragDownScroll()" delegate-handle="magazine">

    <ion-refresher
      pulling-text="{{'TEXT.PULLING'|translate}}"
      on-refresh="init()">
    </ion-refresher>

    <!-- Search condition -->
    <div class="row search-condition-bar" ng-if="keywords || period || person || category || province">
      <div class="col no-padding">
        <div class="search-condition">
          <div>
            <span ng-if="category" ng-bind="category | mapppingId:categories"></span>
            <span ng-if="keywords" ng-bind="keywords"></span>
            <span ng-if="period" ng-bind="period | mapppingId:periods"></span>
            <span ng-if="person" ng-bind="person | mapppingId:people"></span>
            <span ng-if="province" ng-bind="province"></span>
            <button class="button clear-button" ng-click="deleteSearchCondition()"><i class="icon ion-close"></i></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Items -->
    <div>
      <!-- Top -->
      <div class="top-area" ng-if="!keywords && !period && !person && !category && !province">
        <!-- POST -->
        <a class="item feature left-box" ng-click="moveToPostDetail(topItem.post.id)">
          <img class="main-img visible-md visible-lg"
              ng-if="windowType=='md' || windowType=='lg'"
              src="../images/sample.png"
              ng-src="{{topItem.post.image.image.lg.url}}">
          <img class="main-img visible-xs visible-sm"
              ng-if="windowType=='xs' || windowType=='sm' || !windowType"
              src="../images/sample.png"
              ng-src="{{topItem.post.image.image.md.url}}">

          <div class="category" ng-if="topItem">
            <span ng-bind="topItem.post.category_name"></span>
          </div>
          <div class="description" ng-class="{'no-tag':topItem.periods.length == 0 && topItem.people.length == 0}" ng-if="topItem">
            <h2 ng-bind="topItem.post.title" class="mincho"></h2>
            <p ng-bind="topItem.post.content"></p>
          </div>
          <div class="tags" ng-if="topItem.periods.length > 0 || topItem.people.length > 0">
            <div>
              <info-tag name="{{period.name}}" ng-repeat="period in topItem.periods"></info-tag>
              <info-tag name="{{person.name}}" ng-repeat="person in topItem.people"></info-tag>
            </div>
          </div>
        </a>
        <div class="right-box hidden-xs hidden-sm" ng-if="windowType!='xs' && windowType!='sm'">
          <!-- SHOP -->
          <a class="item shop side-area" ng-click="moveToShopDetail(shop.shop.id)">
            <img class="main-img" ng-src="{{shop.shop.subimage.md.url}}" src="../images/dummy-img.png">
            <div class="category" ng-if="shop">
              <span>STORE</span>
            </div>
            <div class="description">
              <h4 ng-bind="shop.shop.name" class="mincho"></h4>
              <star count="shop.rating.average"></star>
            </div>
            <div class="tags">
              <div>
                <info-tag name="{{period.name}}" ng-repeat="period in shop.periods"></info-tag>
                <info-tag name="{{person.name}}" ng-repeat="person in shop.people"></info-tag>
              </div>
            </div>
          </a>
          <!-- FEATURE -->
          <a class="item post side-area" ng-click="moveToFeatureDetail(feature.feature.id)">
            <img class="main-img" ng-src="{{feature.feature.image.md.url}}" src="../images/dummy-img.png">
            <div class="category" ng-if="feature">
              <span ng-bind="feature.feature.category_name"></span>
            </div>
            <div class="description">
              <h4 ng-bind="feature.feature.title" class="mincho"></h4>
            </div>
            <div class="tags">
              <div>
                <info-tag name="{{period.name}}" ng-repeat="period in feature.periods"></info-tag>
                <info-tag name="{{person.name}}" ng-repeat="person in feature.people"></info-tag>
              </div>
            </div>
          </a>
        </div>
      </div>
      <list-item-post
         ng-repeat="result in results"
         ng-hide="$index==0 && !keywords && !period && !person && !category && !province"
         ng-click="moveToPostDetail(result.post.id)"
         data="result.post"
         periods="result.periods"
         people="result.people"
         category="result.post.category_name"
         window-type="windowType" >
       </list-item-post>
    </div>

    <ion-infinite-scroll
      ng-if="!noMoreLoad"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
