<ion-view title="MAGAZINE">
  <ion-content class="magazine" ng-init="init()" on-drag-up="onDragUpScroll()" on-drag-down="onDragDownScroll()">

    <ion-refresher
      pulling-text="{{'TEXT.PULLING'|translate}}"
      on-refresh="init()">
    </ion-refresher>

    <!-- Search condition -->
    <div class="row" ng-if="keywords || period || person">
      <div class="col main-category">
        <div class="search-condition">
          <div>
            <span ng-if="targetCategoryId" ng-bind="targetCategoryId | mapppingId:categories"></span>
            <span ng-if="keywords" ng-bind="keywords"></span>
            <span ng-if="period" ng-bind="period | mapppingId:periods"></span>
            <span ng-if="person" ng-bind="person | mapppingId:people"></span>
          </div>
          <div class="clear-button">
            <button class="button" ng-click="deleteSearchCondition()"><i class="icon ion-close"></i></button>
            <span ng-click="deleteSearchCondition()" ng-bind="'BUTTON.CLEAR_CONDITION'|translate"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Items -->
    <div>

      <a class="item feature" ng-if="!keywords && !period && !person">
        <img class="main-img" src="../images/sample.png">
        <div class="description">
          <h3 ng-bind="'POST.FEATURE'|translate"></h3>
          <h2 ng-bind="feature.post.title"></h2>
          <p ng-bind="feature.post.content"></p>
        </div>
        <div class="tags">
          <info-tag name="{{period.name}}" ng-repeat="period in feature.periods"></info-tag>
          <info-tag name="{{person.name}}" ng-repeat="person in feature.people"></info-tag>
        </div>
      </a>
      <list-item-post
         ng-repeat="result in results"
         ng-click="moveToPostDetail(result.post.id)"
         data="result.post"
         periods="result.periods"
         people="result.people"
         category="result.post.category_name" >
       </list-item-post>
    </div>

    <ion-infinite-scroll
      ng-if="!noMoreLoad"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
