<ion-view>
  <ion-content class="image-content" ng-init="init()" on-drag-up="onDragUpScroll()" on-drag-down="onDragDownScroll()">

    <ion-refresher
      pulling-text="{{'TEXT.PULLING'|translate}}"
      on-refresh="init()">
    </ion-refresher>

    <div class="row">
      <div class="col main-category">
        <div class="button-bar basic" ng-if="!keywords">
          <a class="button"
            ng-repeat="category in categories"
            ng-click="search({{category.id}})"
            ng-bind-html="category.name | rekishokuText"
            ng-class="{active: targetCategoryId == category.id}"
          ></a>
        </div>
        <div class="search-condition" ng-if="keywords">
          <div>
            <span ng-show="targetCategoryId">{{targetCategoryId | findTargetCategory:categories}}</span>
            <span>{{keywords}}</span>
          </div>
          <div class="clear-button">
            <button class="button" ng-click="deleteSearchCondition()"><i class="icon ion-close"></i></button>
            <span ng-click="deleteSearchCondition()" ng-cloak>{{'BUTTON.CLEAR_CONDITION'|translate}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <ul class="item-list">
        <li class="overlay-image" ng-repeat="post in posts" ng-mouseover="onMouseOverItem(post)" ng-mouseleave="onMousemouseLeave(post)">
          <div class="thumbnail-image">
            <img ng-src="{{post.image.image.md.url}}">
          </div>
          <div class="main-content" ng-class="{'on-mouse': post.onMouse}">
            <div>
              <div class="category-name">{{post.category_name}}</div>
              <div class="h4 item-name">{{post.title}}</div>
              <div class="h5 item-content" ng-if="post.onMouse">
                <div>
                  {{post.content.substr(0,140)}}
                  <span ng-if="post.content.length > 140">…</span>
                </div>
              </div>
              <div class="h6 post-date"><i class="icon ion-ios-clock-outline"></i>{{post.published_at | date:'yyyy/M/d'}}</div>
            </div>
          </div>
          <a class="link" ui-sref="tabs.post({id:post.id})" nav-direction="forward"></a>
        </li>
      </ul>
    </div>

    <ion-infinite-scroll
      ng-if="!noMoreLoad"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
