<ion-view title="" cache-view="false" ng-init="init()" class="map-view">
  <!-- Search condition -->
  <div class="row search-condition-bar" ng-if="keywords || period || person || category || province">
    <div class="col no-padding">
      <div class="search-condition">
        <div>
          <span ng-if="category" ng-bind="category | mapppingId:categories"></span>
          <span ng-if="keywords" ng-bind="keywords"></span>
          <span ng-if="period" ng-bind="period | mapppingId:periods"></span>
          <span ng-if="person" ng-bind="person | mapppingId:people"></span>
          <span ng-if="province" ng-bind="province"></span>
        </div>
        <div class="clear-button">
          <button class="button" ng-click="deleteSearchCondition()"><i class="icon ion-close"></i></button>
          <span class="hidden-xs" ng-click="deleteSearchCondition()" ng-bind="'BUTTON.CLEAR_CONDITION'|translate"></span>
        </div>
      </div>
    </div>
  </div>

  <!-- Google map -->
  <div class="maps" ng-if="map">

    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" bounds="map.bounds" events="events" data-tap-disabled="true" ng-cloak>
      <ui-gmap-markers models="targetMarkers" coords="'self'" icon="'icon'" clusterEvents="clickEventsObject">
        <ui-gmap-windows show="show">
          <div ng-non-bindable class="gmap-windows">
            <p>{{title}}</p>
            <a class="link" href="app/map-shop/{{id}}"><img src="{{url}}"></a>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>

  </div>
</ion-view>
