<ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds" events="events" data-tap-disabled="true">
    <ui-gmap-markers models="targetMarkers" coords="'self'" icon="'icon'" clusterEvents="clickEventsObject" click="clickMarker">
      <ui-gmap-windows show="show">
          <div ng-non-bindable class="gmap-windows">
            <h4>{{title}}</h4>
            <a class="link" href="#/shop/{{id}}"><img src="{{url}}"></a>
          </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
</ui-gmap-google-map>
