<ion-side-menus>

  <!-- Main menu -->
  <ion-side-menu side="right" ng-controller="HeaderCtrl" ng-init="init()" width="215">
    <div class="bar bar-header top hidden-xs">
      <h1 class="title hidden">歴食</h1>
      <div class="logo" ng-click="moveToHome()"></div>
    </div>

    <div class="list menu-list">
      <ion-slide-box ng-init="disableSwipe()">
        <ion-slide>
          <ion-scroll direction="y">
            <!-- pages -->
            <div class="item item-divider visible-xs"></div>
            <a class="item item-top" ng-class="{'active': currentType == 'magazine'}" ng-click="moveToHome()" ng-bind="'MENU.MAGAZINE'|translate"></a>
            <a class="item" ng-class="{'active': currentType == 'shop'}" ng-click="moveToShops()" ng-bind="'MENU.STORE'|translate"></a>

            <!-- by peridos -->
            <a class="item item-icon-right hidden-xs item-top" ng-click="openPeriods()">
              by PERIODS
              <i class="icon ion-android-arrow-dropright"></i>
            </a>
            <!-- by people -->
            <a class="item item-icon-right hidden-xs" ng-click="openPeople()">
              by PEOPLE
              <i class="icon ion-android-arrow-dropright"></i>
            </a>

            <!-- other -->
            <a class="item item-top" ng-class="{'active': currentType == 'writers'}" ng-click="moveToWriters()">WRITERS</a>
            <a class="item" href="http://www.rekishoku.jp/about" target="_blank">ABOUT</a>
            <!-- <div class="item item-divider" ng-show="isLogin || showLogin">MY ACCOUNT</div> -->
            <a class="item" ng-click="moveToMyPost()" ng-if="isLogin">
              {{'MENU.POSTS'|translate}}
            </a>
            <a class="item" ng-click="moveToWriterDetail()" ng-show="isLogin">
              PROFILE
            </a>

          </ion-scroll>

          <!-- my account -->
          <div class="menu-footer">
            <a class="item item-top" ng-click="openModalLogin()" ng-show="!isLogin && showLogin">LOGIN</a>
            <a class="item" ng-click="doLogout()" ng-show="isLogin" ng-cloak>LOGOUT</a>
            <div class="item sns-icons">
              <a class="facebook-icon" href="https://www.facebook.com/%E6%AD%B4%E9%A3%9F-292634487527691/" target="_blank"><i class="ion-social-facebook"></i></a>
              <a class="twitter-icon" href="https://twitter.com/rekishoku" target="_blank"><i class="ion-social-twitter"></i></a>
              <a class="instagram-icon" href="https://instagram.com/rekishoku" target="_blank"><i class="ion-social-instagram-outline"></i></a>
            </div>
          </div>

        </ion-slide>

        <ion-slide class="list-slide">
          <div class="item item-icon-left item-top bold" ng-click="backSlide()" >
            <i class="icon ion-android-arrow-dropleft"></i>Back
          </div>
          <ion-scroll direction="y" delegate-handle="list-slide">
            <ion-spinner ng-show="!menuItems"></ion-spinner>
            <a class="item" ng-click="searchByPeriods({{menuItem.id}}, '{{menuTarget}}')" ng-repeat="menuItem in menuItems" ng-bind-html="menuItem.name"></a>
          </ion-scroll>
        </ion-slide>

      </ion-slide-box>
    </div>

  </ion-side-menu>

  <!-- Search Menu for Mobile -->
  <ion-side-menu class="visible-xs" side="left" ng-controller="HeaderCtrl" ng-init="init()" width="215">
    <div class="list menu-list">
      <ion-slide-box ng-init="disableSwipe()">
        <ion-slide>
          <ion-scroll direction="y">
            <div class="item item-divider visible-xs"></div>
            <!-- by peridos -->
            <a class="item item-icon-right item-top" ng-click="openPeriods()">
              by PERIODS
              <i class="icon ion-android-arrow-dropright"></i>
            </a>
            <!-- by people -->
            <a class="item item-icon-right" ng-click="openPeople()">
              by PEOPLE
              <i class="icon ion-android-arrow-dropright"></i>
            </a>
          </ion-scroll>
        </ion-slide>

        <ion-slide class="list-slide">
          <div class="item item-icon-left item-top bold" ng-click="backSlide()" >
            <i class="icon ion-android-arrow-dropleft"></i>Back
          </div>
          <ion-scroll direction="y" delegate-handle="list-slide">
            <ion-spinner ng-show="!menuItems"></ion-spinner>
            <a class="item" ng-click="searchByPeriods({{menuItem.id}}, '{{menuTarget}}')" ng-repeat="menuItem in menuItems" ng-bind-html="menuItem.name"></a>
          </ion-scroll>
        </ion-slide>
      </ion-slide-box>
    </div>
  </ion-side-menu>

  <!-- Content -->
  <ion-side-menu-content animation="slide-left-right" nav-transition="ios">

    <ion-nav-bar class="main-header visible-xs" ng-controller="HeaderCtrl">
      <ion-nav-buttons side="left">
        <div class="button button-clear button-dark" ng-click="toggleLeft()" ><i class="icon ion-ios-search"></i></div>
      </ion-nav-buttons>
      <div class="logo" ng-click="moveToHome()"></div>
      <ion-nav-buttons side="right">
        <div class="button button-clear button-dark" ng-click="toggleRight()" ><i class="icon ion-navicon"></i></div>
      </ion-nav-buttons>
      <ion-nav-back-button class="button-back" ng-click="goBack()">
        <i class="ion-chevron-left"></i>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view animation="slide-left-right"></ion-nav-view>

  </ion-side-menu-content>

</ion-side-menus>
