<ion-view title="" class="post-detail-view">
  <ion-content has-header="true" class="detail post" ng-init="init()">

    <!-- MAIN IMAGE -->
    <div class="row no-padding">
      <div class="top-image no-padding">
        <img ng-src="{{post.image.url}}" src="../images/dummy-img.png" class="hidden-xs">
        <img ng-src="{{post.image.md.url}}" src="../images/dummy-img.png" class="visible-xs">
      </div>
    </div>
    <div class="row no-padding no-margin" ng-if="post.quotation_name">
      <div class="image-quotation">
        <span ng-bind="'POST.PHOTO_BY'|translate"></span>
        <a href="{{post.quotation_url}}" target="_blank" ng-bind="post.quotation_name"></a>
      </div>
    </div>

    <!-- MAIN INFORMATION -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="information">
          <div class="name">
            <h4 ng-bind="post.category_name"></h4>
            <h1 ng-bind="post.title" class="mincho"></h1>
          </div>
          <div class="date" ng-if="post.category_slug=='news'">
            <p ng-bind="post.published_at | date:'yyyy/M/d'"></p>
          </div>
          <div class="tags">
            <info-tag name="{{period.name}}" ng-repeat="period in periods"></info-tag>
            <info-tag name="{{person.name}}" ng-repeat="person in people"></info-tag>
          </div>
          <div class="writer" ng-click="moveToWriterDetail()">
            <p>
              <span ng-bind="'POST.TEXT_BY'|translate"></span>
              <span ng-bind="user.username"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <!-- DESCRIPTION -->
    <div class="row padding-top padding-bottom">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="description"><p ng-bind-html="post.content | newlines"></p></div>
      </div>
    </div>


    <!-- DETAILS TITLE -->
    <div class="row" ng-repeat-start="postDetail in postDetails" ng-if="postDetail.title">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2 ng-bind="postDetail.title"></h2>
      </div>
    </div>
    <!-- DETAILS IMAGE -->
    <div class="row no-padding" ng-if="postDetail.image.url">
      <div class="top-image col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <img ng-src="{{postDetail.image.url}}" src="../images/dummy-img.png" class="hidden-xs">
        <img ng-src="{{postDetail.image.md.url}}" src="../images/dummy-img.png" class="visible-xs">
      </div>
    </div>
    <!-- DETAILS DESCRIPTION -->
    <div class="row padding-bottom no-margin" ng-repeat-end>
      <div class="image-quotation col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2" ng-if="postDetail.image.url">
        <span ng-bind="'POST.PHOTO_BY'|translate"></span>
        <a href="{{postDetail.quotation_url}}" target="_blank" ng-if="postDetail.quotation_name" ng-bind="postDetail.quotation_name"></a>
        <span ng-if="!postDetail.quotation_name" ng-bind="user.username"></span>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div><p ng-bind-html="postDetail.content | newlines"></p></div>
      </div>
    </div>

    <hr ng-if="shops.length!=0">

    <!-- SHOPS -->
    <div class="row padding-top" ng-if="shops.length!=0">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2 ng-bind="'POST.SHOP_INFO'|translate"></h2>
      </div>
    </div>

    <div class="row padding-bottom" ng-if="posts.length!=0">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 no-padding">
        <!-- Items -->
         <list-item-shop
            ng-repeat="shop in shops"
            ng-click="moveToShopDetail(shop.shop.id)"
            data="shop.shop"
            periods="shop.periods"
            people="shop.people"
            rating="shop.rating.average" >
          </list-item-shop>
      </div>
    </div>

    <!-- <div class="row post-shops row-bottom" ng-if="shops.length!=0">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <ul class="item-detail-list">
          <li class="overlay-image" ng-repeat="shop in shops">
            <div class="thumbnail-image">
              <img ng-src="{{shop.shop.image.md.url}}">
            </div>
            <div class="detail-content">
              <div>
                <div class="category-name shop-category" category-list data="shop.categories" ></div>
                <div class="h4 detail-name">{{shop.shop.name}}</div>
                <div class="h6 item-description hidden-xs">{{shop.shop.description | limitTo:300}}</div>
                <div class="item-address" ng-if="shop.shop.address1">{{shop.shop.province}}</div>
                <div class="item-address" ng-if="!shop.shop.address1">-</div>
              </div>
            </div>
            <a class="link" ui-sref="tabs.post-shop({id:shop.shop.id})" nav-direction="forward" ng-if="nowTab=='post'"></a>
            <a class="link" ui-sref="tabs.shop({id:shop.shop.id})" nav-direction="forward" ng-if="nowTab=='shop'"></a>
            <a class="link" ui-sref="tabs.map-shop({id:shop.shop.id})" nav-direction="forward" ng-if="nowTab=='map'"></a>
            <a class="link" ui-sref="shop({id:shop.shop.id})" nav-direction="forward" ng-if="nowTab=='other'"></a>
          </li>
        </ul>
      </div>
    </div> -->

    <!-- SNS ICONS -->
    <sns-icons
      image-url="eyeCatchImage.image.url"
      title="post.title"
      description="post.content" >
    </sns-icons>

    <!-- ADVERTISEMENT -->
    <advertisment-row seed="0"></advertisment-row>

    <div class="row padding-top" ng-if="postsRelated.length!=0">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2 ng-bind="'POST.RELATED'|translate"></h2>
      </div>
    </div>

    <!-- RELATED POSTS -->
    <div class="row padding-bottom" ng-if="postsRelated.length!=0">
      <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 no-padding">
        <!-- Items -->
        <list-item-post
           ng-repeat="post in postsRelated"
           ng-click="moveToPostDetail(post.post.id)"
           data="post.post"
           periods="post.periods"
           people="post.people"
           category="post.post.category_name" >
         </list-item-post>
      </div>
    </div>

  </ion-content>
</ion-view>
