<ion-view title="SHOPS">
  <ion-content class="shops" ng-init="init()" on-drag-up="onDragUpScroll()" on-drag-down="onDragDownScroll()" delegate-handle="shops">

    <ion-refresher
      pulling-text="{{'TEXT.PULLING'|translate}}"
      on-refresh="init()">
    </ion-refresher>

    <!-- Search condition -->
    <div class="row search-condition-bar" ng-if="keywords || period || person || category || province">
      <div class="col no-padding">
        <div class="search-condition">
          <div>
            <span ng-if="category" ng-bind="category | mapppingId:categories"></span>
            <span ng-if="keywords" ng-bind="keywords"></span>
            <span ng-if="period" ng-bind="period | mapppingId:periods"></span>
            <span ng-if="person" ng-bind="person | mapppingId:people"></span>
            <span ng-if="province" ng-bind="province"></span>
          </div>
          <div class="clear-button">
            <button class="button" ng-click="deleteSearchCondition()"><i class="icon ion-close"></i></button>
            <span class="hidden-xs" ng-click="deleteSearchCondition()" ng-bind="'BUTTON.CLEAR_CONDITION'|translate"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Items -->
    <div>
      <list-item-shop
         ng-repeat="result in results"
         ng-click="moveToShopDetail(result.shop.id)"
         data="result.shop"
         categories="result.categories"
         periods="result.periods"
         people="result.people"
         price="result.price"
         rating="result.rating.average" >
       </list-item-shop>
    </div>

    <!-- Lazy loading -->
    <ion-infinite-scroll
      ng-if="!noMoreLoad"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
