<ion-view title="" class="shop-detail-view">
  <!-- header -->
  <div class="bar bar-header"></div>

  <ion-content has-header="true" class="padding-top">

    <div class="row row-bottom">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="post-title">
          <h1>{{shop.name}}</h1>
          <p class="category" ng-if="categories" category-list data="categories" ></p>
          <a target="_blank" href="http://maps.google.co.jp/maps?t=m&z=16&q={{shop.address1}}" ng-show="shop.province"><i class="icon ion-ios-location"></i>{{shop.province + shop.city + shop.address1 + shop.address2}}</a>
        </div>
        <div class="detail-image"><img ng-src="{{shop.image.url}}"></div>
        <div class="post-quotation" ng-if="shop.image_quotation_name" ng-cloak>{{'POST.QUOTATION'|translate}}<a href="{{shop.image_quotation_url}}" target="_blank">{{shop.image_quotation_name}}</a></div>
        <div class="shop-content" ng-if="shop.description"><p ng-bind-html="shop.description | newlines"></p></div>
        <div class="post-quotation" ng-if="shop.post_quotation_url" ng-cloak>{{'POST.QUOTATION'|translate}}<a href="{{shop.post_quotation_url}}" target="_blank">{{shop.post_quotation_name}}</a></div>
      </div>
    </div>
    <div class="row row-top row-bottom bg-gray">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="detail-image"><img ng-src="{{shop.subimage.url}}"></div>
        <div class="shop-info">
          <div class="shop-info-row">
            <div class="shop-info-col" ng-cloak>{{'SHOP.NAME'|translate}}</div>
            <div>{{shop.name}}</div>
          </div>
          <div class="shop-info-row">
            <div class="shop-info-col" ng-cloak>{{'SHOP.URL'|translate}}</div>
            <div><a href="{{shop.url}}" target="_blank">{{shop.url}}</a></div>
          </div>
          <div class="shop-info-row">
            <div class="shop-info-col" ng-cloak>{{'SHOP.ADDRESS'|translate}}</div>
            <div>
              <a target="_blank" href="http://maps.google.co.jp/maps?t=m&z=16&q={{shop.address1}}" ng-show="shop.province">
                {{shop.province + shop.city + shop.address1 + shop.address2}}
              </a>
            </div>
          </div>
          <div class="shop-info-row">
            <div class="shop-info-col" ng-cloak>{{'SHOP.MENU'|translate}}</div>
            <div ng-bind-html="shop.menu | newlines"></div>
          </div>
        </div>
        <div class="detail-map" ng-if="shop.province">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
              <ui-gmap-markers models="targetMarkers" coords="'self'" icon="'icon'">
              </ui-gmap-markers>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
    <div class="row row-top" ng-if="posts.length!=0">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="reki-icon" ng-cloak><h2>{{'POST.STORIES'|translate}}</h2></div>
      </div>
    </div>
    <div class="row post-shops row-bottom" ng-if="posts.length!=0">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="item-detail-list">
          <post-item post="post" now-tab="nowTab" ng-repeat="post in posts"></post-item>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
