<ion-view title="">
  <ion-content ng-init="init()" on-drag-up="onDragUpScroll()" on-drag-down="onDragDownScroll()">

    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="init()">
    </ion-refresher>

    <div class="row">
      <div class="col main-category">
        <div class="button-bar">
          <a class="button"
            ng-repeat="category in categories"
            ng-click="search({{category.id}})"
            ng-bind-html="category.name"
            ng-class="{active: targetCategoryId == category.id}"
          ></a>
        </div>
      </div>
    </div>

    <div class="main">
      <ul class="item-list">
        <li class="overlay-image" ng-repeat="result in results">
          <div class="thumbnail-image">
            <img ng-src="{{result.shop.subimage.md.url}}">
            <div class="post-count" ng-show="result.shop.posts_shops_count>0"><i class="icon ion-edit"></i>{{result.shop.posts_shops_count}}</div>
          </div>
          <div class="shop-content">
            <div>
              <div class="category-name" ng-if="result.people.length!=0" people-list data="result.people" ></div>
              <div class="h4 item-name">{{result.shop.name}}</div>
              <div class="item-address" ng-if="result.shop.province">{{result.shop.province}}</div>
              <div class="item-address" ng-if="!result.shop.province">-</div>
            </div>
          </div>
          <a class="link" ui-sref="tabs.shop({id:result.shop.id})"></a>
        </li>
      </ul>
    </div>

    <ion-infinite-scroll
      ng-if="!noMoreLoad"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
