<ion-view title="">
  <!-- header -->
  <div class="bar bar-header"></div>

  <ion-content has-header="true" class="padding-top">

    <div class="row row-bottom">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="post-title">
          <h1>{{shop.name}}</h1>
          <p class="category" ng-if="categories" category-list data="categories" ></p>
          <a target="_blank" href="http://maps.google.co.jp/maps?t=m&z=16&q={{shop.address1}}"><i class="icon ion-ios-location"></i>{{shop.province + shop.city + shop.address1 + shop.address2}}</a>
        </div>
        <div class="detail-image"><img ng-src="{{shop.image.url}}"></div>
        <div class="post-quotation" ng-if="shop.image_quotation_name">掲載元：<a href="{{shop.image_quotation_url}}" target="_blank">{{shop.image_quotation_name}}</a></div>
        <div class="shop-content" ng-if="shop.description"><p ng-bind-html="shop.description | newlines"></p></div>
        <div class="post-quotation" ng-if="shop.image_quotation_name">掲載元：<a href="{{shop.post_quotation_url}}" target="_blank">{{shop.post_quotation_name}}</a></div>
      </div>
    </div>
    <div class="row row-top row-bottom bg-gray">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="detail-image"><img ng-src="{{shop.subimage.url}}"></div>
        <div class="shop-info">
          <div class="shop-info-row">
            <div class="shop-info-col">店舗名</div>
            <div>{{shop.name}}</div>
          </div>
          <div class="shop-info-row">
            <div class="shop-info-col">URL</div>
            <div><a href="{{shop.url}}" target="_blank">{{shop.url}}</a></div>
          </div>
          <div class="shop-info-row">
            <div class="shop-info-col">所在地</div>
            <div>
              <a target="_blank" href="http://maps.google.co.jp/maps?t=m&z=16&q={{shop.address1}}">
                {{shop.province + shop.city + shop.address1 + shop.address2}}
              </a>
            </div>
          </div>
          <div class="shop-info-row">
            <div class="shop-info-col">MENU</div>
            <div ng-bind-html="shop.menu | newlines"></div>
          </div>
        </div>
        <div class="detail-map">
          <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" bounds="map.bounds">
              <ui-gmap-markers models="targetMarkers" coords="'self'" icon="'icon'">
              </ui-gmap-markers>
          </ui-gmap-google-map>
        </div>
      </div>
    </div>
    <div class="row row-top" ng-if="posts.length!=0">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="reki-icon"><h2>歴食体験・エピソード</h2></div>
      </div>
    </div>
    <div class="row post-shops row-bottom" ng-if="shops.length!=0">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="item-detail-list">
          <li class="overlay-image" ng-repeat="post in posts">
            <div class="thumbnail-image">
              <img ng-src="{{post.image.md.url}}">
            </div>
            <div class="detail-content">
              <div>
                <div class="category-name">{{post.category_name}}</div>
                <div class="h4 detail-name">{{post.title}}</div>
                <div class="h6 item-description hidden-xs">{{post.content | limitTo:300}}</div>
                <div class="h6 post-date"><i class="icon ion-ios-clock-outline"></i>{{post.created_at | date:'yyyy/M/d'}}</div>
              </div>
            </div>
            <a class="link" ui-sref="post({id:post.id})"></a>
          </li>
        </ul>
      </div>

  </ion-content>
</ion-view>
