<ion-view title="SHOPS">
  <ion-content class="image-content" ng-init="init()" on-drag-up="onDragUpScroll()" on-drag-down="onDragDownScroll()">

    <ion-refresher
      pulling-text="{{'TEXT.PULLING'|translate}}"
      on-refresh="init()">
    </ion-refresher>

    <!-- Search condition -->
    <div class="row" ng-if="keywords || period || person">
      <div class="col main-category">
        <div class="search-condition">
          <div>
            <span ng-if="targetCategoryId" ng-bind-html="targetCategoryId | mapppingId:categories"></span>
            <span ng-if="keywords" ng-bind-html="keywords"></span>
            <span ng-if="period" ng-bind-html="period | mapppingId:periods"></span>
            <span ng-if="person" ng-bind-html="person | mapppingId:people"></span>
          </div>
          <div class="clear-button">
            <button class="button" ng-click="deleteSearchCondition()"><i class="icon ion-close"></i></button>
            <span ng-click="deleteSearchCondition()" ng-bind-html="'BUTTON.CLEAR_CONDITION'|translate"></span>
          </div>
        </div>
      </div>
    </div>

    <!-- Items -->
    <div class="main">
      <a class="item" collection-repeat="result in results" ui-sref="tabs.shop.detail({id:result.shop.id})" ng-click="moveToShopDetail()">
        <img class="main-img" src="../images/dummy-img.png">
        <img class="main-img subimage" ng-src="{{result.shop.subimage.md.url}}">
        <div class="detail">
          <h2>{{result.shop.name}}</h2>
          <star count="2.7"></star>
        </div>
        <div class="tags">
          <div class="periods">
            <info-tag name="{{period.name}}" ng-repeat="period in result.periods"></info-tag>
          </div>
          <div class="people">
            <info-tag name="{{person.name}}" ng-repeat="person in result.people"></info-tag>
          </div>
        </div>
        <i class="arrow ion-chevron-right"></i>
      </a>
    </div>

    <!-- Lazy loading -->
    <ion-infinite-scroll
      ng-if="!noMoreLoad"
      on-infinite="loadMoreData()">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
