<div class="sub-tab" ng-controller="TabsCtrl">
  <ion-tabs>

    <!-- Shops  -->
    <ion-tab title="{{'MENU.STORE'|translate}}">
      <ion-nav-view name="tab-shop-list" href="#/app/shops/list"></ion-nav-view>
    </ion-tab>


    <!-- Map  -->
    <ion-tab title="{{'MENU.MAP'|translate}}">
      <ion-nav-view name="tab-shop-map" href="#/app/shops/map"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</div>

<!-- <ion-footer-bar class="search-footer" ng-class="{'hide-footer': hideFooter}"> -->
<ion-footer-bar class="search-footer">
  <!-- <h1 class="title"><i class="ion-arrow-down-b"></i> SORT BY</h1> -->
  <div class="buttons" ng-click="changeListType()">
    <button class="button mode-btn" ng-class="{'hide-btn': hideModeBtn}">
      <i ng-class="{'ion-ios-flag-outline':currentType == 'shop', 'ion-ios-list-outline':currentType != 'shop'}"></i>
      <span ng-show="currentType == 'shop'">MAP</span>
      <span ng-show="currentType != 'shop'">LIST</span>
    </button>
  </div>
</ion-footer-bar>
