<div class="sub-tab" ng-controller="TabsCtrl">
  <div class="tabs-striped tabs-background-stable">

    <div class="tabs">
      <a class="tab-item" ui-sref=".shop.list" nav-transition="none">
        STORE
      </a>
      <a class="tab-item" ui-sref=".shop.map" nav-transition="none">
        MAP
      </a>
    </div>
  </div>

  <ion-nav-view></ion-nav-view>

</div>

<!-- <ion-footer-bar class="search-footer" ng-class="{'hide-footer': hideFooter}"> -->
<ion-footer-bar class="search-footer" ng-controller="TabsCtrl">
  <!-- <h1 class="title"><i class="ion-arrow-down-b"></i> SORT BY</h1> -->
  <div class="buttons" ng-click="changeListType()">
    <button class="button mode-btn" ng-class="{'hide-btn': hideModeBtn}">
      <i ng-class="{'ion-ios-flag-outline':currentType == 'shop', 'ion-ios-list-outline':currentType != 'shop'}"></i>
      <span ng-show="currentType == 'shop'">MAP</span>
      <span ng-show="currentType != 'shop'">LIST</span>
    </button>
  </div>
</ion-footer-bar>
