<ion-view title="">
  <div class="main-tab tabs-top tabs-standard" ng-class="{down: isDown, 'hide-tab': isHideTab}" ng-controller="TabsCtrl">

    <div class="tabs">
      <a class="tab-item" nav-transition="none" ng-click="clickTab(0)" ng-class="{'tab-item-active': currentType == 'magazine'}">
        MAGAZINE
      </a>
      <a class="tab-item" nav-transition="none" ng-click="clickTab(1)" ng-class="{'tab-item-active': currentType == 'shop' || currentType == 'map'}">
        STORE
      </a>
    </div>
  </div>

  <ion-nav-view></ion-nav-view>

</ion-view>
