<ion-tabs
  class="tabs-icon-top tabs-color-light"
  animation="slide-left-right"
  nav-transition="ios"
  ng-class="{down: isDown, 'hide-tab': isHideTab}"
  ng-controller="TabsCtrl">

  <!-- Main  -->
  <ion-tab title="STORY" icon="ion-ios-list-outline" ng-click="clickTab(0)">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>


  <!-- Map  -->
  <ion-tab title="MAP" icon="ion-ios-navigate-outline" ng-click="clickTab(1)">
    <ion-nav-view name="map-tab"></ion-nav-view>
  </ion-tab>


  <!-- Shops  -->
  <ion-tab title="FOOD" icon="ion-android-restaurant" ng-click="clickTab(2)">
    <ion-nav-view name="shops-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
