<ion-tabs
  class="main-tab"
  animation="slide-left-right"
  nav-transition="ios"
  ng-class="{down: isDown, 'hide-tab': isHideTab}"
  ng-controller="TabsCtrl">

  <!-- Main  -->
  <ion-tab title="{{'MENU.MAGAZINE'|translate}}" href="#/app/magazine" ng-click="clickTab(0)">
    <ion-nav-view name="tab-magazine"></ion-nav-view>
  </ion-tab>


  <!-- Map  -->
  <ion-tab title="{{'MENU.STORE'|translate}}" href="#/app/shop/list" ng-click="clickTab(1)">
    <ion-nav-view name="tab-shop"></ion-nav-view>
  </ion-tab>


</ion-tabs>
