<ion-view title="" ng-init="init()" hide-back-button="true">
  <!-- header -->
  <div class="bar bar-header"></div>

  <ion-content class="image-content" class="padding-top">
    <ion-refresher
      pulling-text="{{'TEXT.PULLING'|translate}}"
      on-refresh="init()">
    </ion-refresher>

    <div class="main padding-top">
      <ul class="item-list">
        <li class="overlay-image" ng-repeat="user in users">
          <div class="thumbnail-image">
            <img ng-src="{{user.image.md.url}}">
          </div>
          <div class="writer-content">
            <div>
              <div class="h4 item-username">{{user.username}}</div>
              <div class="h6 item-profile visible-xs">{{user.profile}}</div>
            </div>
          </div>
          <a class="link" ui-sref="writer({id:user.id})"></a>
        </li>
      </ul>
    </div>
 </ion-content>
</ion-view>
