<ion-view title="" ng-init="init()" hide-back-button="true" class="writers-view">
  <ion-content class="no-tabs-top" class="padding-top" overflow-scroll="true">
    <ion-refresher
      pulling-text="{{'TEXT.PULLING'|translate}}"
      on-refresh="init()">
    </ion-refresher>

    <div class="main">
      <ul class="item-list">
        <li class="overlay-image" ng-repeat="user in users">
          <div class="thumbnail-image">
            <img class="hidden-xs" ng-src="{{user.image.md.url}}">
            <img class="visible-xs" ng-src="{{user.image.thumb.url}}">
          </div>
          <div class="writer-content">
            <div>
              <div class="mincho item-username">{{user.username}}</div>
              <div class="item-profile visible-xs">{{user.profile}}</div>
            </div>
          </div>
          <a class="link" ui-sref="writerDetail({id:user.id})"></a>
        </li>
      </ul>
    </div>
 </ion-content>
</ion-view>
