<%= form_tag("", method: "put") do %>
    <table class="table table-striped　table-bordered">
      <%= label :page, :cacheid %>
      <%= text_field :page, :name %>
    </table>
    <%= submit_tag("キャッシュ作成/更新") %>
<% end %>
