<ion-content class="aside">
  <aside>
    <nav class="grid-menu">
      <a href=""><i class="fa fa-search"></i>検索</a>
      <a href=""><i class="fa fa-calendar"></i>カレンダー</a>
      <a href=""><i class="fa fa-envelope"></i>メール</a>
      <a href=""><i class="fa fa-cog"></i>機能</a>
      <a href=""><i class="fa fa-list"></i>一覧</a>
      <a href=""><i class="fa fa-shopping-cart"></i>カート</a>
      <a href=""><i class="fa fa-smile-o"></i>お気に入り</a>
      <a href=""><i class="fa fa-camera-retro"></i>ギャラリー</a>
      <a href=""><i class="fa fa-location-arrow"></i>店舗アクセス</a>
      <a href=""><i class="fa fa-book"></i>E-Book</a>
      <a href=""><i class="fa fa-comments-o"></i>Contact</a>
      <a href=""><i class="fa fa-question-circle"></i>FAQ</a>
    </nav>
    <nav class="list-menu">
      <ul>
        <li><a href="">カテゴリ１</a></li>
        <li><a href="">カテゴリ２</a></li>
        <li><a href="">カテゴリ３</a></li>
        <li><a href="">カテゴリ４</a></li>
      </ul>
    </nav>
  </aside>
</ion-content>