<ion-view title="">
  <div class="bar bar-subheader bar-clear edit-menu" align="right">
    <button class="button button-assertive" ng-click="edit()">編集</button>
    <button class="button button-dark" ng-click="openModal()">新規投稿</button>
  </div>

  <ion-content class="has-subheader">
    <table class="table table-striped">
      <thead>
        <tr>
            <th>件名</th>
            <th class="hidden-sm hidden-xs">本文</th>
            <th class="hidden-xs">引用元URL</th>
            <th class="hidden-xs">引用元名</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="result in results">
          <td>{{result.title}}</td>
          <td class="hidden-sm hidden-xs">{{result.content}}</td>
          <td class="hidden-xs">{{result.quotation_url}}</td>
          <td class="hidden-xs">{{result.quotation_name}}</td>
          <td align="right"><button class="btn btn-danger" ng-click="doDelete($index)" ng-show="editting">削除</button></td>
        </tr>
      </tbody>
    </table>
 </ion-content>
</ion-view>
