<ion-view title="">
  <ion-content has-header="true" class="padding-top">

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="post-title">
          <h2>{{post.title}}</h2>
          <p class="date">{{post.created_at | date:'yyyy/M/d'}}</p>
        </div>
        <div class="detail-image"><img ng-src="{{post.image.url}}"></div>
        <div class="post-quotation" ng-if="post.quotation_name">掲載元：<a href="{{post.quotation_url}}" target="_blank">{{post.quotation_name}}</a></div>
        <div class="post-content" ng-if="post.content"><p ng-bind-html="post.content | newlines"></p></div>
      </div>
    </div>
    <div class="row" ng-repeat="postDetail in postDetails">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div class="post-title" ng-if="postDetail.title"><h3>{{postDetail.title}}</h3></div>
        <div class="detail-image" ng-if="postDetail.image.url"><img ng-src="{{postDetail.image.url}}"></div>
        <div class="post-quotation" ng-if="postDetail.quotation_name">掲載元：<a href="{{postDetail.quotation_url}}" target="_blank">{{postDetail.quotation_name}}</a></div>
        <div class="post-content" ng-if="postDetail.content"><p ng-bind-html="postDetail.content | newlines"></p></div>
      </div>
    </div>
    <hr>
    <div class="row" ng-if="shops.length!=0">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <div><h2>店舗情報</h2></div>
        <div class="shop-list" ng-repeat="shop in shops">
          <div class="shop-list-image"><a class="link" ui-sref="shop({id:shop.id})"><img ng-src="{{shop.image.thumb.url}}"></a></div>

          <div class="shop-list-info">
            <p>{{shop.name}}</p>
            <p>{{shop.address1}} {{shop.address2}}</p>
            <p>{{shop.url}}</p>
            <p ng-if="shop.url"><a target="_blank" href="{{shop.url}}"><i class="icon ion-link"></i>{{shop.url}}</a></p>
            <p class="hidden-xs">{{shop.description | limitTo:300}}</p>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
