<ion-view title="">
  <ion-content has-header="true" class="padding-top">

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="post-title">
          <h1>{{post.title}}</h1>
          <p class="date">{{post.created_at | date:'yyyy/M/d'}}</p>
        </div>
        <div class="detail-image"><img ng-src="{{post.image.url}}"></div>
        <div class="post-quotation" ng-if="post.quotation_name">掲載元：<a href="{{post.quotation_url}}" target="_blank">{{post.quotation_name}}</a></div>
        <div class="post-content" ng-if="post.content"><p ng-bind-html="post.content | newlines"></p></div>
      </div>
    </div>
    <div class="row" ng-repeat="postDetail in postDetails">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="post-title" ng-if="postDetail.title"><h3>{{postDetail.title}}</h3></div>
        <div class="detail-image" ng-if="postDetail.image.url"><img ng-src="{{postDetail.image.url}}"></div>
        <div class="post-quotation" ng-if="postDetail.quotation_name">掲載元：<a href="{{postDetail.quotation_url}}" target="_blank">{{postDetail.quotation_name}}</a></div>
        <div class="post-content" ng-if="postDetail.content"><p ng-bind-html="postDetail.content | newlines"></p></div>
      </div>
    </div>
    <hr>
    <div class="row" ng-if="shops.length!=0">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="reki-icon"><h2>店舗情報</h2></div>

      </div>
    </div>
    <div class="row post-shops" ng-if="shops.length!=0">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="item-detail-list">
          <li class="overlay-image" ng-repeat="shop in shops">
            <div class="thumbnail-image">
              <img ng-src="{{shop.shop.image.md.url}}">
            </div>
            <div class="detail-content">
              <div>
                <div class="category-name shop-category" category-list data="shop.categories" ></div>
                <div class="h4 detail-name">{{shop.shop.name}}</div>
                <div class="h6 item-description hidden-xs">{{shop.shop.description | limitTo:300}}</div>
                <div class="item-address" ng-if="shop.shop.address1">{{shop.shop.address1}}</div>
                <div class="item-address" ng-if="!shop.shop.address1">-</div>
              </div>
            </div>
            <a class="link" ui-sref="shop({id:shop.shop.id})"></a>
          </li>
        </ul>
      </div>

    </div>
  </ion-content>
</ion-view>
