  <div class="main">
    <ul class="item-list">
      <li ng-repeat="result in results">
        <div class="thumbnail-image overlay-image">

          <img ng-src="{{result.image.image.thumb.url}}">
          <a class="link" ui-sref="shop({id:result.id})"></a>
        </div>
        <div class="shop-content">
          <!-- <div class="category-name">{{result.category_name}}</div> -->
          <div class="h4 item-name">{{result.name}}</div>
          <a target="_blank" href="http://maps.google.co.jp/maps?t=m&z=16&q={{result.address1}}"><i class="icon ion-ios-location"></i>{{result.address1}}</a>
        </div>
      </li>
    </ul>
  </div>
