<ion-view title="">
  <ion-tabs class="tabs-icon-top tabs-color-light" animation="slide-left-right" nav-transition="ios">

     <ion-tab title="Main" icon="ion-ios-home-outline">
       <!-- <ion-nav-view name="home-tab" animation="slide-left-right" nav-transition="ios"></ion-nav-view> -->
       <ion-content padding="true">
       <div ng-include="'views/main.html'"></div>
       </ion-content>
     </ion-tab>

     <ion-tab title="Map" icon="ion-ios-navigate-outline">
       <!-- <ion-nav-view name="map-tab" animation="slide-left-right" nav-transition="ios"></ion-nav-view> -->
       <ion-content  padding="true">
         <div ng-include="'views/map.html'"></div>
       </ion-content>
     </ion-tab>

     <ion-tab title="Shops" icon="ion-ios-list-outline">
       <ion-content padding="true">
         <div ng-include="'views/shops.html'"></div>
       </ion-content>
    </ion-tab>

   </ion-tabs>
</ion-view>

<script type="text/ng-template"></script>
