<ion-tabs class="tabs-icon-top tabs-color-light" animation="slide-left-right">

   <ion-tab title="Home" icon="ion-ios-home-outline" ui-sref="tabs.home">
     <ion-nav-view name="home-tab"></ion-nav-view>
   </ion-tab>

   <ion-tab title="Map" icon="ion-ios-navigate-outline" ui-sref="tabs.map">
     <ion-nav-view name="map-tab"></ion-nav-view>
   </ion-tab>

   <ion-tab title="Shops" icon="ion-ios-list-outline" ui-sref="tabs.shops">
     <ion-nav-view name="shops-tab"></ion-nav-view>
   </ion-tab>

   <ion-tab title="Post" icon="ion-compose" ui-sref="tabs.list">
     <ion-nav-view name="list-tab"></ion-nav-view>
   </ion-tab>

 </ion-tabs>
