<ion-view title="">
  <ion-nav-bar class="header tab-header" animation="slide-left-right" nav-transition="ios">
    <div class="bar bar-header top">
      <h1 class="title hidden">歴食</h1>
      <div class="logo"></div>
    </div>
    <nav class="fix-nav" ng-controller="HeaderCtrl">
      <a href="" ng-click="toggleRight()" ><i class="icon ion-navicon-round"></i></a>
    </nav>
  </ion-nav-bar>


  <ion-tabs class="tabs-icon-top tabs-color-light" animation="slide-left-right" nav-transition="ios">

    <!-- Main  -->
    <ion-tab title="Story" icon="ion-ios-list-outline" ng-controller="MainCtrl">
      <ion-content ng-init="init()">
        <div ng-include="'views/main.html'"></div>
      </ion-content>
    </ion-tab>

    <!-- Map  -->
    <ion-tab title="Map" icon="ion-ios-navigate-outline" ng-controller="MapCtrl">
      <!-- Serach bar -->
      <div class="bar bar-subheader bar-clear" align="right">
        <button class="button button-clear icon-left ion-ios-location present-location" ng-click="init()"><span>現在地</span></button>
        <div class="item-input-inset search-bar">
          <label class="item-input-wrapper">
            <input type="text" placeholder="住所" ng-model="input.address">
          </label>
          <button class="button button-small button-dark" ng-click="searchShops()">検索</button>
        </div>
      </div>
      <!-- Google map -->
      <ion-content class="has-subheader maps" ng-init="init()">
        <div class="map-include"ng-include="'views/map.html'"></div>
      </ion-content>
    </ion-tab>

    <!-- Shops  -->
    <ion-tab title="Food" icon="ion-android-restaurant" ng-controller="ShopsCtrl">
      <ion-content ng-init="init()">
        <div ng-include="'views/shops.html'"></div>
      </ion-content>
    </ion-tab>

  </ion-tabs>
</ion-view>

<script type="text/ng-template"></script>
