<ion-view title="" ng-init="writersInit()">
  <ion-nav-bar class="header" animation="slide-left-right" nav-transition="ios">
    <div class="bar bar-header top">
      <h1 class="title hidden">歴食</h1>
      <div class="logo"></div>
    </div>
    <nav class="fix-nav" ng-controller="HeaderCtrl">
      <a href="" ng-click="toggleRight()" ><i class="icon ion-navicon-round"></i></a>
    </nav>
  </ion-nav-bar>


  <ion-content class="padding-top">
    <div class="main padding-top">
      <ul class="item-list">
        <li class="overlay-image" ng-repeat="user in users">
          <div class="thumbnail-image">
            <img ng-src="{{user.image.image.md.url}}">
          </div>
          <div class="writer-content">
            <div>
              <div class="h4 item-username">{{user.username}}</div>
              <div class="h6 item-profile visible-xs">{{user.profile}}</div>
            </div>
          </div>
          <a class="link" ui-sref="writer({id:user.id})"></a>
        </li>
      </ul>
    </div>
 </ion-content>
</ion-view>
