<ion-view title="" ng-init="writersInit()">
  <div class="bar bar-header my-post-header"></div>

  <ion-content>
    <div class="main">
      <ul class="item-list">
        <li ng-repeat="user in users">
          <div class="thumbnail-image overlay-image">
            <img ng-src="{{user.image.image.thumb.url}}">
          </div>
          <div class="main-content">
            <div class="h4 item-username">{{user.username}}</div>
            <div class="item-profile"><p ng-bind-html="user.profile | newlines"></p></div>
          </div>
        </li>
      </ul>
    </div>
 </ion-content>
</ion-view>
