.detail-image {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    max-height: 600px;
    max-width: 100%;
    width: auto;
  }
}

.post-title {
  padding: 10px 0 5px;
  min-height: 70px;
  .sub {
    border-bottom: 5px solid rgb(205, 97, 93);
    margin-right: -5px;
  }
  a {
    float: right;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .username {
    display: table;
    padding-bottom: 5px;
    img {
      width: 34px;
      height: auto;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      display: table-cell;
      padding-right: 5px;
    }
    p {
      display: table-cell;
      vertical-align: middle;
      color: #aaa;
    }
  }
  .category {
    background-color: rgba(76, 42, 76, 1);
    color: #ffffff;
    max-width: 125px;
    min-width: 100px;
    padding: 2px 8px;
    position: absolute;
    text-align: center;
    white-space: nowrap;
    left: 5px;
  }
  .date {
    text-align: right;
    color: #808080;
    margin-bottom: 5px;
  }
}

.post-quotation {
  text-align: right;
  color: #808080;
  margin-bottom: 5px;
}

.post-content {
  padding: 5px;
  margin-bottom: 15px;
  max-height: 200px;
  overflow: hidden;
}
.content-mask{
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(250, 251, 253, 0) 0%, rgba(250, 251, 253, 0) 20%, rgba(250, 251, 253, 0.8) 38%, #fafbfd 98%) repeat scroll 0 0;
}

form.post-modal, .post-modal .slider {
  height: 100%;
}

.shop-list {
  display: table;
  > div {
    display: table-cell;
    vertical-align: top;
  }
  .shop-list-image {
    width: 250px;
    height: auto;
    padding-right: 10px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

/* 関連データ */

.post-shops {
  padding-left: 0 !important;
  padding-right: 0 !important;
  > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.item-detail-list {
  li {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    letter-spacing: normal;
    line-height: 1.25;
    border: 1px solid #dcdcdc;
    margin-top: -1px;
    background-color: #fff;
    .thumbnail-image {
      height: 100px;
      width: 133px;
      padding-top: 0;
    }
  }
  .thumbnail-image img {
    height: auto;
    margin-left: 0;
    width: 100%;
  }
  li .detail-content {
    height: 100px;
    padding-left: 133px;
    > div {
      background: transparent;
      position: relative;
    }
  }
  .detail-name, .post-date, .item-username {
    color: #555;
  }
  .category-name, .item-address {
    bottom: 5px !important;
  }
  .category-name {
    right: 0px;
  }
}

.detail-content .post-date {
  left: 10px;
  bottom: 5px;
  i {
    padding-right: 3px;
  }
}

.item-detail-list {
  .overlay-image .link {
    border-radius: 0;
  }
  .main-category .button-bar .button {
    font-size: 14px;
    text-overflow: initial;
  }
  .category-name.shop-category {
    bottom: 15px;
    float: right;
    right: 65px;
  }
}

.detail-name {
  padding: 10px 10px 0;
  max-height: 50px;
  overflow: hidden;
}

.item-detail-list .item-address {
  background-color: rgba(131, 81, 112, 1);
  bottom: 15px;
  color: #ffffff;
  font-size: 12px;
  right: 0px;
  line-height: 16px;
  max-height: 21px;
  overflow: hidden;
  padding: 3px 8px;
  position: absolute;
  text-align: center;
  width: 60px;
  z-index: 100;
}

// FB
.col-fb {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  .fb-page {
    text-align: center;
    position: relative;
    display: inline-block;
    width: 100%;
  }
}
