/**********************
 * Common
 **********************/
.big-modal {
  top: 5%;
  bottom: 5%;
}

/* modal-post*/
.uploaded-img {
  top: 0;
	bottom: 0;
	margin: auto;
  height: auto!important;
  width: auto !important;
}
.slider-pager {
  z-index: 10;
  width: 50%;
  margin-left: 25%;
}
.item-table tr{
  height: 65px;
}
.button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.button.ion-checkmark-round.checkbox, .button.ion-checkmark-round.checkbox.activated {
  border: 1px solid #007bbb;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #fff;
  color: #fff;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: none!important;
}
.button.ion-checkmark-round.checkbox.active {
  background-color: #007bbb;
  box-shadow: none!important;
  color: #fff;
}

.vertical-align {
  vertical-align: middle!important;
}

/* input */
.item-input-wrapper {
  padding-left: 8px!important;
  padding-right: 8px!important;
  width: 100%;
}

/**********************
 * Header
 **********************/
.top {
   z-index: 10;
}
ion-view .has-header {
    top: 49px;
}
ion-view .has-subheader {
  top: 94px;
  /*padding-top: 30px;*/
}
.bar-subheader.edit-menu .button, .bar-subheader.edit-menu .button::after {
  max-width: 150px;
  position: static !important;
  width: 49%;
}
.header .bar.top {
  background-color: transparent;
  border: none;
}

.header{
  position: fixed;
  height: 49px;
  background: transparent;
  background-image: none;
  z-index: 10;
  background-image: none;
  width: 100%;
  border-bottom: 1px solid rgb(212,212,212);
}
.bar-subheader {
    top: 49px;
    background-color: transparent;
}

/**********************
 * Main page
 **********************/
/** {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}*/

.item-list li {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    letter-spacing: normal;
    line-height: 1.25;
}
.item-list {
  padding: 0;
  letter-spacing: -.4em;
  margin: 0;
}
img {
  height: auto;
  width: 100%;
}
.sysCartButton {
    display: block;
    width: 100%;
    background: #666;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
}
.main{
  width:100%;
  margin-top: 0;
}
.item-name {
  padding: 5px;
}
.item-list .category-name{
  float: right;
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: -47px;
  z-index: 100;
  background-color: rgba(210, 83, 127, 0.75);
  color: #ffffff;
  padding: 5px 10px;
}
.item-list .main-content {
  position: relative;
}
.overlay-image {
  position: relative;
  line-height: 100%;
}
.overlay-image .link {
  background: #000 url("../images/icons/link.png") no-repeat scroll center center;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.overlay-image .link:hover {
  opacity: 0.5;
  transition-property: opacity;
  transition-duration:0.3s;
  transition-timing-function:ease-in-out;
}
/**********************
 * Post list
 **********************/
.item-table .post-title{
  min-width: 150px;
}
.item-table .post-category{
  min-width: 120px;
}
.item-table .delete-button{
  min-width: 120px;
}

/**********************
 * Post detail
 **********************/
.post-title{
  padding: 5px
}
.post-content{
  padding: 5px
}
form.post-modal, .post-modal .slider {
  height: 100%;
}

/**********************
 * Side bar
 **********************/
.aside{
  width: 30%;
  float: left;
  z-index: 100;
  height: 500px;
}

.grid-menu a {
  width: 33%;
  letter-spacing: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid rgb(212,212,212);
  border-right: 1px solid rgb(212,212,212);
  padding: 5px;
  font-size: small;
  color: #444;
}
.grid-menu i{
  font-size: 40px;
  display: block;
  margin: 10px auto 15px;
}
.grid-menu {
    letter-spacing: -.4em;
}
.container{
  margin-top: 50px;
}
.list-menu a {
    line-height: 2;
    text-decoration: none;
    border-bottom: 1px solid rgb(212,212,212);
    width: 100%;
    display: block;
    padding: 10px;
}
.list-menu ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
.fix-nav a,
.fix-nav span{
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #eee;
    padding: 5px;
    text-align: center;
}
.fix-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  height: 44px;
  top: 0;
  background: transparent;
  float: right;
}
.fix-nav i {
  font-size: 24px;
  max-height: 30px;
  vertical-align: middle;
  margin-right: 15px;
  margin-bottom: -7.5px;
  display: inline-block;
}
.fix-nav a {
  color: #444;
}

/**********************
 * Toast
 **********************/
.toast-top-full-width {
  top: 10px;
}
#toast-container > div {
  padding: 30px 15px 30px 50px;
}

/**********************
 * ionic&bootstrapの競合対策
 **********************/
.modal-backdrop { background-color: transparent; }
.modal-open .modal { overflow-y: hidden; }
label { max-width: initial;}
.row { margin-left: initial; margin-right: initial;}
.row > div {
  padding-left: 5px;
  padding-right: 5px;
}

/**********************
 * Responsive Design
 **********************/
@media screen and (max-width:480px){
  html{ font-size: 0.75rem;}
.main,.aside{width: 100%;float: none;}
  .aside{
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .fix-nav,
  .header{z-index:100;}
  .aside.active{display: block;}
}
@media screen and (min-width:481px) and (max-width:800px){
  .grid-menu a{
    width: 50%;
  }
}
@media screen and (max-width:800px){
  /* modal */
  .big-modal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%
  }
  /* form */
  .item-stacked-label-xs {
    background-color: transparent;
    box-shadow: none;
    display: block;
  }
  .item-stacked-label-xs .input-label, .item-stacked-label-xs .icon {
    display: inline-block;
    padding: 4px 0 0;
    vertical-align: middle;
  }
}
@media screen and (min-width:801px){
  .item-list li{ width: 25%; }
  .top .title { right: auto!important; }
  .header{ width: 20%; border: none; }
  .has-header { bottom: 0px; }

  /* tab position */
  .tab-nav.tabs {
    background-position: center bottom;
    border-bottom-width: 1px;
    border-top-width: 0;
    padding-top: 0;
    top: 0px;
  }

  /* post image */
  .post-image{
    padding: 0 90px;
  }

}
