/**********************
 * Common
 **********************/
 h1, .h1 { font-size: 32px; }
 h2, .h2 { font-size: 24px; }
 h3, .h3 { font-size: 20px; }
 h4, .h4 { font-size: 16px; }
 h5, .h5 { font-size: 14px; }
 h6, .h6 { font-size: 12px; }

.big-modal {
  top: 5%;
  bottom: 5%;
}

/* modal-post*/
.uploaded-img {
  top: 0;
	bottom: 0;
	margin: auto;
  height: auto!important;
  width: auto !important;
}
.slider-pager {
  z-index: 10;
  width: 50%;
  margin-left: 25%;
}
.item-table tr{
  height: 44px;
}
.button {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.button.ion-checkmark-round.checkbox, .button.ion-checkmark-round.checkbox.activated {
  border: 1px solid #007bbb;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #fff;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: none!important;
  width: 40px;
  height: 40px;
  min-height: 40px;
  min-width: 40px;
}
.button.ion-checkmark-round.checkbox::before {
    font-size: 19px;
    line-height: 37px;
}
.button.ion-checkmark-round.checkbox.active {
  background-color: #007bbb;
  box-shadow: none!important;
  color: #fff;
}

.vertical-align {
  vertical-align: middle!important;
}

/* input */
.item-input-wrapper {
  padding-left: 8px!important;
  padding-right: 8px!important;
  width: 100%;
}
input[readonly].item-input-wrapper {
  background-color: transparent!important;
  color: #808080;
}
.file {
  display: inline-block;
  overflow: hidden;
  position: relative;
  padding: .5em;
  border: 1px solid #999;
  background-color: #eee;
}
.file input[type="file"] {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}
/* link */
/*a { color: rgb(88,43,95);}*/
a { color: rgb(205,97,93);}
a:hover { color: rgb(205, 140, 137); text-decoration: none}
.tabs { background-color: rgb(205,97,93); color: #fff; border: none; }
.bar-header.my-post-header { border: none; }

/**********************
 * Header
 **********************/
.top {
   z-index: 20;
   margin: 0 15px;
   padding: 0;
}
ion-view .has-header {
    top: 49px;
}
ion-view .has-subheader {
  top: 94px;
  /*padding-top: 30px;*/
}
.bar-subheader.edit-menu .button, .bar-subheader.edit-menu .button::after {
  max-width: 150px;
  position: static !important;
  width: 49%;
}
.header .bar.top {
  background-color: transparent;
  border: none;
}

.header{
  position: fixed;
  height: 49px;
  background: transparent;
  background-image: none;
  z-index: 10;
  background-image: none;
  width: 100%;
  border-bottom: 1px solid rgb(212,212,212);
}
.bar-subheader {
    top: 49px;
    background-color: transparent;
}
.bar-subheader-modal {
    top: 44px;
    background-color: transparent;
}
.logo {
  width: 150px;
  height: 100px;
  background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 0 0 / contain ;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

/**********************
 * Menu
 **********************/
.menu-list .item i{
  color: #d3d3d3;
}

/**********************
 * Main page
 **********************/
.item-list li, .item-list-sm li {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    letter-spacing: normal;
    line-height: 1.25;
}
.item-list, .item-list-sm {
  letter-spacing: -.4em;
  margin: 0;
}
img {
  height: auto;
  width: 100%;
}
.sysCartButton {
    display: block;
    width: 100%;
    background: #666;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 3px;
}
.main{
  width:100%;
  margin-top: 0;
}
.item-name {
  padding: 10px;
  height: 50px;
  overflow: hidden;
}
.item-list .main-content .category-name{
  right: 10px;
  bottom: 15px;
}
.main-content .post-date {
  position: absolute;
  left: 20px;
  bottom: 15px;
  padding: 0;
  font-weight: 200;
}
.main-content .post-date i{
  padding-right: 3px;
}
.item-list .main-content, .item-list-sm .main-content {
  position: relative;
}
.overlay-image {
  position: relative;
  line-height: 100%;
}
.overlay-image .link {
  background: #000 url("../images/icons/link.png") no-repeat scroll center center;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 10px;
  z-index: 100;
}
.overlay-image .link:hover, .overlay-image .link.activated {
  opacity: 0.4;
  transition-property: opacity;
  transition-duration:0.3s;
  transition-timing-function:ease-in-out;
}
.main-category {
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-category .button-bar .button{
  color: rgb(76,42,76);
  border-color: rgb(76,42,76);
  background: transparent;
}
.main-category .button-bar > .button:first-child {
    border-radius: 10px 0 0 10px;
}
.main-category .button-bar > .button:last-child {
  border-radius: 0 10px 10px 0;
}

/**********************
 * Post list
 **********************/
.item-table .post-title{
  min-width: 110px;
}
.item-table .post-content{
  max-width: 300px;
}
.item-table .post-category{
  min-width: 120px;
}
.item-table .delete-button{
  min-width: 60px;
}

/**********************
 * Post detail
 **********************/
.post-title{
  padding: 5px
}
.post-content{
  padding: 5px
}
form.post-modal, .post-modal .slider {
  height: 100%;
}
.shop-list {
  display:table;
}
.shop-list > div{
  display:table-cell;
  vertical-align: top;
}
.shop-list .shop-list-image {
  width: 35%;
  height: auto;
  padding-right: 10px;
}

/**********************
 * Shops
 **********************/
.item-list .item-address {
  background-color: rgba(131, 81, 112, 1);
  bottom: 15px;
  color: #ffffff;
  font-size: 12px;
  right: 5px;
  line-height: 16px;
  margin-right: 10px;
  max-height: 21px;
  overflow: hidden;
  padding: 3px 8px;
  position: absolute;
  text-align: center;
  width: 60px;
  z-index: 100;
}
.item-list .shop-content .category-name{
  bottom: 15px;
  float: right;
  right: 80px;
}


/**********************
 * Main & Shops common
 **********************/
.item-list li {
  position: relative;
}
.item-list .shop-content, .item-list .main-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 5px 7px;
  width: 100%;
}
.shop-content > div, .main-content > div {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  padding: 5px 5px 30px;
}
.shop-content div, .main-content div {
  margin: 0;
  color: #fff;
}
.item-list .category-name{
  font-size: 12px;
  position: absolute;
  z-index: 100;
  background-color: rgba(76, 42, 76, 10);
  color: #ffffff;
  padding: 3px 8px;
  text-align: center;
  max-width: 125px;
  min-width: 105px;
  white-space: nowrap;
}

/**********************
 * Map page
 **********************/
.search-bar {
  padding: 0;
}
.search-bar label{
  max-width: 500px;
  width: 60%;
}
.search-bar input{
  width: 100%;
}

.search-bar .button{
  max-width: 200px;
  min-width: 100px;
  width: 20%;
}
.maps .angular-google-map-container,
.maps .angular-google-map,
.maps .scroll,
.maps .map-include { height: 100%; }

.gmap-windows h4 {
  width:130px;
  max-height: 44px;
  overflow: hidden;
}
.gmap-windows img {
  width:130px;
  height: auto;
}
/**********************
 * Side bar
 **********************/
.aside{
  width: 30%;
  float: left;
  z-index: 100;
  height: 500px;
}

.grid-menu a {
  width: 33%;
  letter-spacing: normal;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border-bottom: 1px solid rgb(212,212,212);
  border-right: 1px solid rgb(212,212,212);
  padding: 5px;
  font-size: small;
  color: #444;
}
.grid-menu i{
  font-size: 40px;
  display: block;
  margin: 10px auto 15px;
}
.grid-menu {
    letter-spacing: -.4em;
}
.container{
  margin-top: 50px;
}
.list-menu a {
    line-height: 2;
    text-decoration: none;
    border-bottom: 1px solid rgb(212,212,212);
    width: 100%;
    display: block;
    padding: 10px;
}
.list-menu ul {
    list-style: none;
    margin: 10px 0;
    padding: 0;
}
.fix-nav a,
.fix-nav span{
    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #eee;
    padding: 5px;
    text-align: center;
}
.fix-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  height: 44px;
  top: 0;
  background: transparent;
  float: right;
}
.fix-nav i {
  font-size: 24px;
  max-height: 30px;
  vertical-align: middle;
  margin-right: 15px;
  margin-bottom: -7.5px;
  display: inline-block;
  color: #fff;
}
.fix-nav a {
  color: #444;
}

/**********************
 * Toast
 **********************/
.toast-top-full-width {
  top: 10px;
}
#toast-container > div {
  padding: 30px 15px 30px 50px;
  opacity: 0.95;
  font-size: 20px;
}

/**********************
 * Popup
 **********************/
.popup-container .popup {
  border-radius: 10px;
  padding: 10px;
  width: 270px;
}

/**********************
 * ionic&bootstrapの競合対策
 **********************/
.modal-backdrop { background-color: transparent; }
.modal-open .modal { overflow-y: hidden; }
label { max-width: initial;}
.row { margin-left: initial; margin-right: initial;}
.row > div {
  padding-left: 5px;
  padding-right: 5px;
}
ion-modal-view { z-index: 11!important}

/**********************
 * Responsive Design
 **********************/
@media screen and (max-width:480px){
  html{ font-size: 0.75rem;}
.main,.aside{width: 100%;float: none;}
  .aside{
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  .fix-nav,
  .header{z-index:100;}
  .aside.active{display: block;}
  /* Main */
  .item-list li {
    width: 100%;
    padding: 0;
    border: 1px solid #dcdcdc;
    margin-top: -1px;
  }
  .item-list li .thumbnail-image {
    height: 100px;
    width: 100px;
  }
  .item-list li .main-content, .item-list li .shop-content  {
    height: 100px;
    padding-left: 100px;
  }
  .item-list li .main-content > div, .item-list li .shop-content > div {
    background: transparent;
    position: relative;
  }
  .item-list .item-name, .item-list .post-date {
    color: #808080;
  }
  .item-list .category-name, .item-list .item-address {
    bottom: 5px!important;
  }
  .main-content .post-date {
    left: 15px;
    bottom: 5px;
  }
  .main-content .post-date i{
    padding-right: 3px;
  }
  .overlay-image .link {
    border-radius: 0;
  }
  .main-category .button-bar .button {
      font-size: 14px;
      text-overflow: initial;
  }
  /* Shop */

}
@media screen and (min-width:481px) and (max-width:800px){
  .item-list li{ width: 33.333%; }
  .grid-menu a{
    width: 50%;
  }
}
@media screen and (max-width:800px){
  .logo {
    width: 107px;
    height: 60px;
    background: rgba(0, 0, 0, 0) url("../images/logo-sm.png") no-repeat scroll 0 0 / contain ;
    background-color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -63px;
  }
  /* modal */
  .big-modal {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%
  }
  /* form */
  .item-stacked-label-xs {
    background-color: transparent;
    box-shadow: none;
    display: block;
  }
  .item-stacked-label-xs .input-label, .item-stacked-label-xs .icon {
    display: inline-block;
    padding: 4px 0 0;
    vertical-align: middle;
  }
  /* header */
  .fix-nav i {
    color: #000;
  }
}
@media screen and (min-width:801px) and (max-width:1200px){
  .item-list li{ width: 25%; }
}
@media screen and (min-width:801px){
  .item-list-sm li{ width: 12.5%; }
  .top .title { right: auto!important; }
  .header{ width: 20%; border: none; }
  .has-header { bottom: 0px; }

  /* tab position */
  .tab-nav.tabs {
    background-position: center bottom;
    border-bottom-width: 1px;
    border-top-width: 0;
    padding-top: 0;
    top: 0px;
  }
  /* post image */
  .post-image{
    padding: 0 90px;
  }
  /* header*/
  .bar-header.my-post-header {
    background-color: rgb(205,97,93);
    height: 49px;
  }
  /* modal */
  .modal-open .modal {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  /* Main*/
  .main-category .button-bar{
    padding-left: 180px;
    max-width: 800px;
  }
  .main-category .button-bar .button{
    border-radius: 10px!important;
    border: 1px solid rgb(76,42,76);
    margin-right: 15px;
    line-height: 34px;
    min-height: 34px;
  }

  /* Map検索*/
  .search-bar {
    padding-left: 180px;
  }
}
@media screen and (min-width:1201px){
  .item-list li{ width: 20%; }
}
